@import "~Styles/variables";

body {
  .path {
    stroke: var(--cds-interactive-01);
    &.locked {
      stroke: #50565b;
      &.executionInProgress {
        opacity: 0.5;
      }
    }
  }

  .statusIcon {
    align-items: center;
    background: var(--cds-ui-01);
    border-radius: 50%;
    display: flex;
    height: 1.5rem;
    justify-content: center;

    &.completed {
      path {
        fill: #009d9a;
      }
    }

    &.failure {
      path {
        fill: #a51920;
      }
    }

    path {
      fill: var(--cds-text-01);
    }
  }
}
