@import "../../../styles/variables.scss";

.Start-Node {
  background: $outside-teal;
  border-radius: 15px;
}
.End-Node {
  background: $red;
  border-radius: 15px;
}

.startend-tile {
  font-size: $base;
  text-align: center;
  font-weight: bold;
  padding-top: 2.3rem;
  color: $off-white;
}

.body {
  .content {
    .srd-startend-port {
      height: 100px;
      & :hover * {
        background: #fbfcfc;
      }
    }
  }
}
