.container {
  display: flex;
  align-items: flex-end;
}

.chevron {
  height: 1.25rem;
  width: 1.25rem;
}

.text {
  color: var(--cds-text-01);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  line-height: 1.25rem;

  white-space: nowrap;
}
