@import "~Styles/variables";

.b-navigate-back {
  display: flex;
  align-items: baseline;
}

.b-navigate-back__chevron {
  height: 0.75rem;
  transform: scaleX(-1);
  margin-right: 0.72rem;
}

.b-navigate-back__text {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  line-height: 1.125rem;

  white-space: nowrap;
}
