@import "~Styles/variables";
@import "~@boomerang/boomerang-styles/lib/colors";

// these class names need to be updated to follow BEM

.b-switchNode {
  border: 1px solid $teal-20;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 0.25rem;
  width: 13rem;
  height: 8rem;
  position: "relative";

  .b-switchNode__title {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: $dark-blue;
    letter-spacing: 0.1675rem;
  }

  .b-switchNode-port {
    position: absolute;
    height: 2.25rem;
    width: 2rem;

    &.--right {
      background-color: $teal-20;
      border: 0.125rem solid $teal-30;
      right: -2rem;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      background-image: url("../../assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &.--left {
      background-color: $teal-10;
      border: 0.125rem solid $teal-20;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      left: -2rem;
      background-image: url("../../assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &:hover {
      filter: brightness(110%);
    }
  }

  .b-switchNode__edit {
    position: absolute;
    right: 3rem;
    top: 0.6875rem;
    cursor: pointer;
  }

  .b-switchNode__delete {
    position: absolute;
    right: 0.5rem;
    top: 0.1rem;
    transform: scale(0.75);
  }

  .b-switchNode__img {
    bottom: 1rem;
    position: absolute;
    left: 1.5rem;
    height: 1.7rem;
    width: 1.7rem;
    pointer-events: none;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
