@import "~Styles/variables";
@import "~Styles/mixins";
@import "~@boomerang/boomerang-styles/lib/colors";

.node {
  background: #002b50;
  border-color: #002b50;
  width: 11rem;
  color: white;
  * {
    color: white;
    fill: white;
  }
}

.editButton {
  position: absolute;
  right: 1.75rem;
  top: -0.75rem;
  width: 1.5rem;
}

.deleteButton {
  position: absolute;
  right: -0.75rem;
  top: -0.75rem;
  width: 1.5rem;
}
