@import "Styles/mixins";

.container {
  align-items: center;
  background: var(--cds-ui-01);
  display: flex;
  height: 4.6875rem;
  justify-content: space-between;
  position: initial;
  top: 0;
  width: 100%;
  z-index: 1;
  :global .bx--assistive-text {
    left: -6.75rem !important;
  }
}
.saveContainer {
  height: 33rem;
}
.confirmModalText {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.saveConfirmModalText {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  width: 36rem;
}
.featureHeader {
  align-items: center;
  display: flex;
  height: 7rem;
  width: 100%;
}
.archivedTag {
  background-color: var(--cds-icon-02);
  color: var(--cds-ui-02);
  margin-left: 1rem !important;
  svg {
    fill: var(--cds-ui-02);
  }
}
.buttons {
  display: flex;
}
.copyButton {
  margin-left: 0.625rem;
  width: 12.8125rem;
}

.resetButton {
  margin-left: 0.625rem;
  margin-right: 1.5rem;
  width: 10.875rem;
}

.category {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-top: 0.75rem;
}
.taskName {
  font-size: 1rem;
  line-height: 1.25rem;
}
.infoContainer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  :global .bx--assistive-text {
    left: -2rem !important;
  }
}
.info {
  align-items: center;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
.icon {
  height: 1.5rem;
  margin-right: 0.75rem;
}
.content {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
}
.subtitle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}
.lastUpdate {
  color: var(--cds-text-02);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}
