@import "Styles/mixins";

.featureHeader {
  align-items: center;
  display: flex;
  min-height: 7.3125rem;
  width: 100%;
  padding: 1.5rem 1.5rem 1rem;
}

.saveContainer {
  max-height: 33rem;
}

.confirmModalText {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.saveConfirmModalText {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  width: 36rem;
}

.archivedTag {
  background-color: var(--cds-icon-02);
  color: var(--cds-ui-02);
  margin-left: 1rem !important;
  svg {
    fill: var(--cds-ui-02);
  }
}
.buttons {
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-grow: 1;
  > * {
    margin: 1rem 0 0 1.5rem;
  }
}

.copyButton {
  width: 12.8125rem;
}

.resetButton {
  width: 10.875rem;
}

.mainActionButton {
  width: 7.75rem;
}

.category {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
}

.taskName {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0rem;
  @include multiline-text-overflow-ellipsis();
}
.infoContainer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  :global .bx--assistive-text {
    left: -2rem !important;
  }
}
.info {
  align-items: center;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
.icon {
  height: 1.5rem;
  margin-right: 0.75rem;
}
.content {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
}
.subtitle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}
.lastUpdate {
  color: var(--cds-text-02);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}
