@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";
@import "~Styles/mixins";

.c-time-progress-bar {
  height: 6.25rem;
  width: 100%;
  padding: 2rem 1.25rem 1.25rem 1.25rem;
  background-color: $white;
  grid-area: progress;
  display: flex;
  align-items: center;
  @include border-radius();

  //override default styles
  .bmrg--b-tooltip {
    max-width: initial;
    opacity: 1;
  }
}

.b-time-progress-bar {
  position: relative;
  height: 2rem;
  width: 100%;
  background-color: $gray-20;
  @include border-radius();
}

.b-time-progress-bar__start {
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  top: -2rem;
  left: 0;
}

.b-time-progress-bar__finish {
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  top: -2rem;
  right: 0;
}

.b-time-progress-bar__fillers {
  position: relative;
  height: 100%;
  display: flex;
  background: white;
}
