.traversed {
  opacity: 1;
}

.statusIcon {
  align-items: center;
  background: var(--cds-ui-01);
  border-radius: 50%;
  display: flex;
  height: 1.5rem;
  justify-content: center;

  &.completed {
    path {
      fill: var(--cds-support-02);
    }
  }

  &.failure {
    path {
      fill: var(--flow-failure);
    }
  }

  path {
    fill: var(--cds-text-01);
  }
}
