@import "~Styles/variables";
@import "~@boomerang/boomerang-styles/lib/colors";

.links {
  align-items: center;
  display: flex;
  position: relative;
}

.link {
  border-bottom: 0.125rem solid #b9bfc7;
  color: $icon-02;
  font-size: 0.875rem;
  letter-spacing: 0.16px;
  line-height: 1.125rem;
  padding: 0 1.75rem 0.625rem;

  &.--active {
    border-bottom: 0.125rem solid $support-02;
    color: $text-01;
    font-weight: 600;
  }
}
