@import "~Styles/variables";

.container {
  display: flex;
  flex-grow: 1;

  .designer {
    display: flex;
    flex-grow: 1;
    position: relative;
  }

  .diagram {
    background-color: $ui-background !important;
  }

  :global .srd-diagram {
    overflow: hidden;
  }

  svg:not(:root) {
    overflow: visible !important;
  }
}
