@import "Styles/mixins";

.modalContainer {
  height: 46rem;
  max-height: 84vh;
  width: 55rem;
}

.addIcon {
  height: 1rem;
  width: 1rem;
}

.text {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
