@import "~@boomerang/boomerang-styles/lib/colors";

.b-time-progress-bar-filler {
  position: relative;
  height: 100%;
  cursor: pointer;

  &:last-child {
    .b-time-progress-bar-filler__time {
      display: none;
    }
  }

  .c-time-progress-bar-filler__info {
    display: flex;
    align-items: flex-start;
  }
}

.b-time-progress-bar-filler__time {
  position: absolute;
  font-size: 0.8rem;
  white-space: nowrap;
}

.c-time-progress-bar-filler-info {
  display: flex;
}

.b-time-progress-bar-filler-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.b-time-progress-bar-filler-info__label {
  font-weight: 600;
  margin: 0.25rem 1rem;
}
.b-time-progress-bar-filler-info__value {
  margin: 0.25rem 1rem;
  min-width: 2rem 0rem;
}
