@import "~@boomerang/boomerang-styles/lib/colors";

.c-activities-card {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 75rem;
  height: 7.5rem;
  border: solid 0.05rem $teal-20;
  border-radius: 0.25rem;
  margin: 0.75rem 0rem;
  cursor: pointer;
  &.--completed {
    border-color: $teal-20;
  }
  &.--failure {
    border-color: $red-20;
  }
  &.--inProgress {
    border-color: $cerulean-20;
  }
  &.--invalid {
    border-color: $gray-20;
  }
}
.c-activities-row__item-workflow {
  display: flex;
  align-items: center;
}
.c-activities-row__item-activity {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.c-activity-card {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  height: 7.5rem;
  border: solid 0.125rem $teal-20;
  border-radius: 0.5rem;
  margin: 1.5rem 1rem;
  &.--success {
    border-color: $teal-20;
  }
  &.--failure {
    border-color: $red-20;
  }
  &.--inprogess {
    border-color: $cerulean-20;
  }
}
.c-activity-card-workflow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.c-activity-card-section--left {
  display: flex;
  min-width: 25rem;
}
.c-activity-card-section--right {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  min-width: 50rem;
}

.c-activity-card-workflow-info {
  margin-left: 0.5rem;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 12rem;
}

.c-activity-card-execution-info {
  margin-left: 1rem;
  min-width: 20rem;

  &.--first {
    width: 30rem;
  }

  li:last-of-type {
    margin-bottom: 0rem;
  }
}

.c-activity-card__icon {
  margin-left: 1.5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.b-activity-card__icon {
  width: 5rem;
  height: 4rem;
}
.b-activity-card__description {
  color: $gray-60;
  font-size: 1.1rem;
}
.b-activity-card__name {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.b-activity-card__label {
  min-width: 6rem;
  line-height: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-activity-card__status-icon {
  margin-right: 0.5rem;
}

.b-activity-card__data {
  line-height: 1.25rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  color: $gray-60;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-activity-card__row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.75rem;

  &:last-of-type {
    margin-bottom: 0rem;
  }
}
