@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/animation";
@import "~Styles/mixins";

.container {
  background-color: var(--cds-ui-01);
  transition: transform $carbon-motion--timing--productive $carbon-motion--easing--productive;
  width: 24.5rem;

  & + div {
    transition: margin-left $carbon-motion--timing--productive $carbon-motion--easing--productive;
  }

  &.collapsed {
    transform: translate3d(-22.5rem, 0, 0);

    .duration,
    .status,
    .taskbar,
    .tasklog {
      opacity: 0.01;
    }

    .chevron {
      transform: rotate(180deg);
    }

    & + div {
      margin-left: -22.5rem;
    }
  }
}

.statusBlock {
  color: #242a2e;
  display: flex;
  height: 7rem;
  overflow: hidden;
  padding: 1.5rem 0 1.5rem 1.5rem;
  position: relative;
  width: 100%;

  &.completed {
    background-color: #92eeee;
  }

  &.failure {
    background-color: #fcd0d3;
  }

  &.inProgress,
  &.notstarted,
  &.invalid,
  &.skipped {
    background-color: #d5d9e0;
  }
}

.duration {
  margin-right: 2.5rem;
  opacity: 0.99;
  transition: opacity $carbon-motion--timing--productive $carbon-motion--easing--productive;
}

.title {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 0.25rem;
}

.value {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.625rem;
}

.status {
  opacity: 0.99;
  transition: opacity $carbon-motion--timing--productive $carbon-motion--easing--productive;
}

.statusData {
  align-items: center;
  display: flex;
  white-space: nowrap;
}

.statusIcon {
  height: 2rem;
  margin-right: 0.5rem;
  width: 2rem;

  path {
    fill: #242a2e;
  }
}

.collapseButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 0rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;

  &:focus {
    @include focus-outline();
  }
}

.chevron {
  height: 1rem;
  transition: transform $carbon-motion--timing--productive $carbon-motion--easing--productive;
  width: 1rem;

  path {
    fill: #242a2e;
  }
}

.statusBlockSkeleton {
  width: 90%;
}

.taskbar {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 3.25rem;
  justify-content: space-between;
  opacity: 0.99;
  padding: 1rem 0.875rem 1rem 1.5rem;
  transition: opacity $carbon-motion--timing--productive $carbon-motion--easing--productive;
  width: 100%;
}

.taskbarTitle {
  color: $gray-90;
  font-size: 1rem;
  line-height: 1.25rem;
  white-space: nowrap;
}

.taskbarButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.25rem;
  transition: transform 0.2s ease;
  width: 1.25rem;

  &:focus {
    @include focus-outline();
  }
}

.taskbarArrows {
  height: 1.25rem;
  width: 1.25rem;
}

.tasklog {
  height: calc(100% - 10.25rem);
  overflow-y: auto;
  opacity: 0.99;
  padding-bottom: 2rem;
  transition: opacity $carbon-motion--timing--productive $carbon-motion--easing--productive;
  width: 100%;
}

.taskLogSkeleton {
  height: 12.5rem;
  margin-left: 1.5rem;
  width: 20.75rem;
}
