@import "~@boomerang/boomerang-styles/lib/colors";

.b-activities__scroll-up-button {
  background-color: red;
  width: 2rem;
  height: 2rem;
  position: fixed;
}
.c-activities__scroll-up {
  opacity: 0.01;
  position: fixed;
  bottom: 2rem;
  right: 5rem;
  transition: ease-in-out 150ms;

  &.--scroll-up-togled {
    transition: ease-in-out 150ms;
    cursor: pointer;
    opacity: 1;
  }
}
.b-activities__scroll-button {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.75rem;
  transform: rotate(270deg);
}
.b-activities__scroll-label {
  color: $cerulean-70;
  font-size: 1rem;
  font-weight: 600;
}