@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/mixins";

.placeholder {
  border: none;
  background: none;
  cursor: pointer;
  margin: 1rem 0.75rem;
  padding: 0rem;
}

.placeholderBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.375rem;
  height: 10.3125rem;
  border: 0.0625rem solid #373d42;
  position: relative;
  @include border-radius();
}

.placeholderPlus {
  height: 1.75rem;
  width: 1.75rem;
}
.placeholderLabel {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  margin-left: 0.5rem;
}
