@import "~Styles/variables";

.c-workflow-designer {
  position: relative;
  height: 100%;
}

.c-workflow-diagram-designer {
  position: relative;
  margin-left: 20rem;
  height: calc(100% - 5.625rem);

  .srd-demo-canvas {
    height: 100%;
    width: 100%;
    background-color: $text-area-gray !important;
  }

  .srd-diagram {
    overflow: hidden;
  }

  .srd-default-link path {
    stroke: $status-teal;
  }
}

// .bmrg-b-sidenav-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.b-task-category {
  //background-color: #1d496d;
}

.b-task-category__header {
  background-color: #40d5bb;
  font-weight: 400;
  margin: 0 0 2rem 0rem;
  padding: 0.375rem 2rem;
}

.b-task-template {
  cursor: grab;
  height: 4rem;
  display: flex;
  background-color: $lightest-gray;
  border-radius: 0.25rem;
  margin: 0.625rem;
  font-size: 1.25rem;
  letter-spacing: 0.2px;
  color: $darkest-gray;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1.5rem;
  align-items: center;
}

.b-task-template__name {
  font-size: 0.875rem;
  padding-left: 1rem;
}

.b-task-template__img {
  padding-left: 1rem;
}

.b-task-template__img-svg {
  height: 1.7rem;
}
