@import "~Styles/variables";
@import "~Styles/mixins";
@import "~@boomerang/boomerang-styles/lib/colors";

.c-workflow-designer {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.c-workflow-diagram-designer {
  display: flex;
  position: relative;
  margin-left: 22rem;
  flex-grow: 1;

  .srd-demo-canvas {
    background-color: $text-area-gray !important;
  }

  .srd-diagram {
    overflow: hidden;
  }

  .srd-default-link path {
    stroke: $status-teal;
  }
}

svg:not(:root) {
  overflow: overlay !important;
}

// .bmrg-b-sidenav-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .b-task-category {
//   //background-color: #1d496d;
// }

.b-task-category__header {
  //background-color: #40d5bb;
  font-weight: 400;
  padding: 0.375rem 1rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  text-transform: capitalize;
}

.b-task-template {
  cursor: grab;
  height: 4rem;
  display: flex;
  background-color: $lightest-gray;
  border-radius: 0.25rem;
  border: 1px solid $teal-10;
  margin: 0.625rem;
  font-size: 1.25rem;
  letter-spacing: 0.2px;
  color: $darkest-gray;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  //margin-bottom: 1.5rem;
  align-items: center;
}

.b-task-template__name {
  font-size: 0.875rem;
  padding-left: 1rem;
  width: 90%;
  @include text-overflow-ellipsis();
}

.b-task-template__img {
  padding-left: 1rem;
}

.b-task-template__img-svg {
  height: 1.7rem;
}
