.c-workflow-viewer {
  margin: 0 auto;
}

.c-sidenav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.c-workflow-viewer-content {
  padding: 5rem 0 0 20rem;
}
