@import "~Styles/variables";
@import "~Styles/mixins";
@import "~@boomerang/boomerang-styles/lib/colors";

.srd-node--selected > .b-task-node {
  border-color: $teal-50 !important;
}

.b-task-node {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightest-gray;
  border-radius: 0.25rem;
  width: 16rem;
  height: 8rem;
  position: relative;
  border: 0.125rem solid $teal-20;

  .b-task-node__tile {
    line-height: 1.25rem;
    text-align: center;
    font-weight: 400;
    color: $dark-blue;
    letter-spacing: 0.1675rem;
    width: 90%;
    @include text-overflow-ellipsis();
  }

  .b-task-node-port {
    position: absolute;

    height: 2.25rem;
    width: 2rem;

    &.--right {
      background-color: $teal-20;
      border: 0.125rem solid $teal-30;
      right: -2rem;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      background-image: url("../../assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &.--left {
      background-color: $teal-10;
      border: 0.125rem solid $teal-20;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      left: -2rem;
      background-image: url("../../assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .b-task-node__edit {
    position: absolute;
    right: 3rem;
    top: 0.6875rem;
    cursor: pointer;
    img {
      height: 1rem;
      width: 1rem;
    }
  }

  .b-task-node__delete {
    position: absolute;
    right: 0.5rem;
    top: 0.1rem;
    transform: scale(0.75);
  }

  .b-task-node__img {
    bottom: 1rem;
    position: absolute;
    left: 1.5rem;
    height: 1.7rem;
    pointer-events: none;
  }
}
