@import "~Styles/variables";

.b-task-node {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightest-gray;
  border-radius: 0.25rem;
  width: 16rem;
  height: 8rem;
  position: relative;

  .b-task-node__tile {
    text-align: center;
    font-weight: 400;
    color: $dark-blue;
    letter-spacing: 0.1675rem;
  }

  .b-task-node-port {
    position: absolute;
    border-radius: 50%;
    background-color: $teal;

    &.--right {
      right: -0.5rem;
    }
    &.--left {
      left: -0.5rem;
    }
    &:hover {
      background: $teal;
    }
  }

  .b-task-node__edit {
    position: absolute;
    right: 3rem;
    top: 0.6875rem;
    cursor: pointer;
  }

  .b-task-node__delete {
    position: absolute;
    right: 0.5rem;
    top: 0.1rem;
    transform: scale(0.75);
  }

  .b-task-node__img {
    bottom: 1rem;
    position: absolute;
    left: 1.5rem;
  }
}
