@import "~Styles/variables";
@import "~Styles/mixins";
@import "~@boomerang/boomerang-styles/lib/colors";

.srd-node--selected > .b-task-node {
  border-color: $interactive-01 !important;
}

.b-task-node {
  display: flex;
  justify-content: center;
  background: $lightest-gray;
  width: 13.75rem;
  height: 5rem;
  padding: 1rem;
  position: relative;
  border: 0.125rem solid $interactive-01;

  .b-task-node__title {
    height: 1.125rem;
    color: $text-01;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin: 0;
    width: 90%;
    @include text-overflow-ellipsis();
  }

  .b-task-node__subtitle {
    height: 1.125rem;
    color: $text-01;
    font-size: 0.875rem;
    line-height: 1.125rem;
    width: 90%;
    @include text-overflow-ellipsis();
  }

  .b-task-node-port {
    position: absolute;

    height: 2.25rem;
    width: 2rem;

    &.--right {
      background-color: $interactive-01;
      border: 0.0625rem solid $interactive-01;
      right: -2rem;
      top: 1.25rem;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      background-image: url("../../assets/icons/chevron_white.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &.--left {
      background-color: #b3e6ff;
      border: 0.0625rem solid $interactive-01;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      left: -2rem;
      top: 1.25rem;
      background-image: url("../../assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .b-task-node__edit {
    background: $ui-01;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.125rem;
    border-radius: 50%;
    border: 0.0625rem solid #000000;
    cursor: pointer;
    height: 1.5rem;
    position: absolute;
    right: 1.75rem;
    top: -0.75rem;
    width: 1.5rem;
  }

  .b-task-node__delete {
    background: $ui-01;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.125rem;
    border: 0.0625rem solid #000000;
    cursor: pointer;
    height: 1.5rem;
    position: absolute;
    right: -0.75rem;
    top: -0.75rem;
    width: 1.5rem;
  }

  .b-task-node__img {
    bottom: 1rem;

    left: 1.5rem;
    height: 1.7rem;
    pointer-events: none;
  }
}
