@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/mixins";
.c-simple-select-filter {
  .bx--select {
    background-color: $teal-20;
    box-shadow: none;
    cursor: pointer;
    // &::before {
    //   content: url("~Assets/svg/configure.svg");
    //   position: absolute;
    //   height: 2rem;
    //   width: 2rem;
    //   right: 1rem;
    //   top: 0.2rem;
    // }
    @include border-radius();
    select {
      box-shadow: none;
    }
    .bx--select-input {
      background-color: $teal-20;
      width: 11rem;
      box-shadow: none;
      text-overflow: ellipsis;
      @include border-radius();
    }
    .bx--select-optgroup {
      background-color: $white;
      box-shadow: none;
    }
    .bx--select-option {
      background-color: $white;
      font-size: 0.875rem;
    }
  }
  .bx--list-box {
    background-color: $teal-20;
    box-shadow: none;
    cursor: pointer;
    @include border-radius();

    // &::before {
    //   content: url("~Assets/svg/configure.svg");
    //   position: absolute;
    //   height: 2rem;
    //   width: 2rem;
    //   right: 1rem;
    //   top: 0.2rem;
    // }
  }

  .bx--list-box__field {
    appearance: none;
    &:focus {
      box-shadow: none;
    }
  }

  .bx--list-box__selection--multi {
    background-color: $gray-90;
    &:hover {
      background-color: $gray-90;
    }
  }

  .bx--list-box__menu {
    min-width: 10rem;
    width: max-content;
    max-width: 15rem;
    background-color: $white;
    max-height: 7.5rem;
    right: 0;
    left: unset;
  }

  .bx--list-box__menu-item--highlighted {
    background: $cool-gray-1;
    text-decoration: none;
  }

  .bx--list-box__menu-item--active {
    .bx--checkbox-label::before {
      background-color: $teal-20 !important;
      border-color: $teal-20 !important;
    }
  }
}
