{
  "printWidth": 120,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "react",
    "<THIRD_PARTY_MODULES>",
    "^Features",
    "^Features/(.*)$",
    "^Components",
    "^Components/(.*)$",
    "^Hooks",
    "^Hooks/(.*)$",
    "^Utils",
    "^Utils/(.*)$",
    "^[./]",
    "^Config",
    "^Config/(.*)$",
    "^Constants",
    "^Constants/(.*)$",
    "^Types"
  ]
}
