@import "~Styles/styles";

.c-widget-card {
  box-sizing: border-box;
  height: auto;
  min-width: 21.75rem;
  width: auto;
  min-height: 17.5rem;
  border-radius: 0.25rem;
  background-color: $cool-white-2;
  margin: 1rem;
}

.b-widget-card__title {
  min-height: 1.25rem;
  color: $gray-50;
  border-bottom: 0.0625rem solid $gray-20;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25rem;
  position: relative;
  padding: 1.3125rem 0.625rem 0.625rem 0.625rem;
}

.b-widget-card__content {
  padding: 0.625rem;
  align-self: center;
}

.b-widget-card__value {
  display: flex;
  height: 13rem;
  width: 23rem;
  justify-content: center;
  align-items: center;
  color: $gray-90;
  font-size: 5rem;
  font-weight: 500;
  line-height: 6.5rem;
}
