@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  height: 2rem;
}
.iconContainer {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-bottom: 0.5rem;
}
.icon {
  background-color: transparent;
  border-radius: 5rem;
  color: $dark-gray;
  height: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  width: 1rem;
}
.--toggled {
  opacity: 0.4;
}
.label {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.value {
  color: $gray-50;
  font-size: 0.75rem;
}
.labelContainer {
  display: flex;
  flex-direction: column;
}
