.unconnected {
  opacity: 0.325;
}

.locked {
  opacity: 0.5;
}

.traversed {
  opacity: 1;
}

.path {
  stroke: var(--cds-interactive-01);
  &.locked {
    stroke: #50565b;
    opacity: inherit;
  }
}
