.sectionContainer {
  margin-bottom: 1.5rem;
}

.sectionHeader {
  margin-bottom: 0.5rem;
  color: var(--cds-text-02);
  font-size: 0.75rem;
  letter-spacing: 0.00875rem;
  line-height: 0.9375rem;
}

.sectionDetail {
  color: var(--cds-text-01);
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  line-height: 1.125rem;
}
