@import "~Styles/variables";

.container {
  display: flex;
  position: relative;
  margin-left: 22rem;
  flex-grow: 1;

  :global .srd-demo-canvas {
    background-color: $ui-background !important;
  }

  :global .srd-diagram {
    overflow: hidden;
  }

  svg:not(:root) {
    overflow: visible !important;
  }
}
