@import "Styles/mixins";

.container {
  h1 {
    margin: 0;
  }
}

.workflowNameSkeleton {
  height: 1.125rem;
}

.content {
  align-items: center;
  display: flex;
  margin: 1.125rem 0 1.5rem 0;
}

.data {
  color: var(--cds-text-01);
  margin-left: 2.5rem;
}

.dataTitle {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.125rem;
  margin-bottom: 0.25rem;
}

.dataValue {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.25rem;
  max-width: 20rem;
  text-transform: capitalize;
  @include text-overflow-ellipsis();
}

.headerContentSkeleton {
  height: 4.31rem;
  width: 40rem;
}
