@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/mixins";

.container {
  background-color: $white;
  display: flex;
  height: 4.3125rem;
  justify-content: space-between;
  width: 100%;
}

.subtitle {
  align-items: center;
  color: $gray-90;
  display: flex;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  line-height: 1.125rem;
  margin-bottom: 0.75rem;
  @include text-overflow-ellipsis();
}

.workflowNameSkeleton {
  height: 1.125rem;
}

.title {
  color: $gray-90;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.625rem;
  margin: 0rem;
}

.content {
  align-items: center;
  display: flex;
  margin-top: 1.125rem;
}

.data {
  color: $gray-90;
  margin-left: 2.5rem;
}

.dataTitle {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.125rem;
  margin-bottom: 0.25rem;
}

.dataValue {
  font-size: 1rem;
  line-height: 1.25rem;
  max-width: 16rem;
  text-transform: capitalize;
  @include text-overflow-ellipsis();
}

.headerContentSkeleton {
  height: 4.31rem;
  width: 40rem;
}
