@import "~@boomerang/boomerang-styles/lib/colors";

.b-search-filter {
  display: flex;
}

.b-search-filter__search {
  flex: 1 1 auto;
  margin-right: 2rem;

  & .bx--search--lg.bx--search-input {
    height: 2.75rem !important;
  }
}

.b-search-filter__filter {
  width: 15rem;

  .bx--select {
    // background-color: $teal-20;
    box-shadow: none;
    cursor: pointer;
    width: 100%;
    // &::before {
    //   content: url("~Assets/svg/configure.svg");
    //   position: absolute;
    //   height: 2rem;
    //   width: 2rem;
    //   right: 1rem;
    //   top: 0.2rem;
    // }
    select {
      box-shadow: none;
    }
    .bx--select-input {
      // background-color: $teal-20;
      box-shadow: none;
      text-overflow: ellipsis;
    }
    .bx--select-optgroup {
      background-color: $white;
      box-shadow: none;
    }
    .bx--select-option {
      background-color: $white;
      font-size: 0.875rem;
    }
  }

  .bx--list-box {
    // background-color: $teal-20;
    box-shadow: none;
    cursor: pointer;

    // &::before {
    //   content: url("~Assets/svg/configure.svg");
    //   position: absolute;
    //   height: 2rem;
    //   width: 2rem;
    //   right: 1rem;
    //   top: 0.2rem;
    // }
  }

  .bx--list-box__field {
    appearance: none;
    &:focus {
      box-shadow: none;
    }
  }

  .bx--list-box__selection--multi {
    background-color: $gray-90;
    &:hover {
      background-color: $gray-90;
    }
  }

  .bx--list-box__menu {
    width: 15rem;
    max-width: 15rem;
    background-color: $white;
    max-height: 20rem;
    right: 0;
    left: unset;
  }

  .bx--list-box__menu-item {
    height: fit-content;
    min-height: 2.5rem;
  }

  .bx--list-box__menu-item--highlighted {
    background: $cool-gray-1;
    text-decoration: none;
  }

  // .bx--list-box__menu-item--active {
  //   .bx--checkbox-label::before {
  //     background-color: $teal-20 !important;
  //     border-color: $teal-20 !important;
  //   }
  // }
}
