@import "~@boomerang/boomerang-styles/lib/colors";

.b-search-filter {
  display: flex;
}

.b-search-filter__search {
  flex: 1 1 auto;
  margin-right: 2rem;

  .bmrg--b-search-bar {
    background: $white;
  }

  .bmrg--b-search-bar__textbox.--bmrg-white {
    background: $white;
  }
}

.b-search-filter__filter {
  width: 10rem;

  .bx--list-box {
    background-color: $teal-20;
    border-radius: 0.25rem;
    box-shadow: none;
    cursor: pointer;
    height: 2.625rem;
    max-height: 2.625rem;

    &::before {
      content: url("~Assets/svg/configure.svg");
      position: absolute;
      height: 2rem;
      width: 2rem;
      right: 1rem;
      top: 0.2rem;
    }
  }

  .bx--list-box__field {
    appearance: none;
    &:focus {
      box-shadow: none;
    }
  }

  .bx--list-box__selection--multi {
    background-color: $gray-90;
    &:hover {
      background-color: $gray-90;
    }
  }

  .bx--list-box__menu-icon {
    display: none;
  }

  .bx--list-box__menu {
    min-width: 10rem;
    width: max-content;
    max-width: 15rem;
    background-color: $white;
    max-height: 7.5rem;
    right: 0;
    left: unset;
  }

  .bx--list-box__menu-item--highlighted {
    background: $cool-gray-1;
    text-decoration: none;
  }

  .bx--list-box__menu-item--active {
    .bx--checkbox-label::before {
      background-color: $teal-20 !important;
      border-color: $teal-20 !important;
    }
  }
}
