@import "Styles/mixins";

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10.3125rem);
  max-width: 120rem;
  margin: 0 auto;
  overflow: auto;
  padding: 1.5rem 2rem;
  width: 100%;
  :global .recharts-cartesian-axis.recharts-yAxis {
    font-family: "IBM Plex Sans";
    > text {
      font-size: 0.875rem;
      transform-origin: -4% -9%;
    }
  }
  // :global .recharts-cartesian-axis-tick {
  //   font-size: 0.875rem;
  // }
  :global .c-legend {
    margin-top: 1rem;
  }
  :global .bx--list-box {
    cursor: pointer;
    height: 2.5rem;
    max-height: 2.5rem;
    width: 16rem;
  }

  :global .bx--list-box__field {
    width: 16rem;
  }

  :global .bx--list-box__label {
    @include text-overflow-ellipsis();
  }

  :global .bx--list-box__menu {
    min-width: 12rem;
    // width: max-content;
    height: auto;
    max-height: unset;
    right: 0;
    left: unset;
  }

  :global .bx--list-box__menu-item--highlighted {
    text-decoration: none;
  }
}
.header {
  margin-top: 0rem;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 55rem;

  & :global .b-search-filter__search {
    margin-right: 0rem;
  }
}

@media (max-width: 32rem) {
  .header {
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 100%;

    & :global .b-search-filter__search {
      margin: 0rem;
      padding-top: 1rem;
    }
  }
}
.navigation {
  position: absolute;
}

.statsWidgets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: -1.25rem;
  margin-top: 2rem;
}
.graphsWidgets {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -1.25rem;
}

@media (max-width: 50rem) {
  .graphsWidgets {
    justify-content: initial;
  }
}

.statsLabel,
.graphsLabel {
  display: flex;
  height: 13rem;
  width: 23rem;
  justify-content: center;
  align-items: center;
  color: var(--cds-text-01);
  font-size: 5rem;
  font-weight: 500;
  line-height: 6.5rem;
  text-align: center;
  &.--no-data {
    width: auto;
    align-self: center;
    font-size: 2.5rem;
    line-height: 6.5rem;
  }
}

.dropdownPlaceholderContainer {
  :global .bx--form-item {
    margin-right: 1rem;
  }
}

.dropdownPlaceholder {
  margin-right: 1rem;
  width: 30%;
}

.cardPlaceholderContainer {
  display: flex;
}

.cardPlaceholder {
  min-height: 22.375rem;
  min-width: 15.625rem;
  margin: 2.5rem 0rem;
  margin-right: 1.5rem;

  &.wide {
    min-width: 25.625rem;
  }
}

.graphPlaceholder {
  width: 50vw;
  min-height: 25rem;
}
.insightsCards {
  display: flex;
}
