.container {
  display: flex;
  flex-direction: column;
  background-color: var(--cds-ui-01);
  width: auto;
  height: auto;
  color: var(--cds-text-01);
  border: solid var(--cds-ui-03) 0.0625rem;
  border-radius: 0.325rem;
}
.data {
  text-align: start;
  margin: 1rem;
  word-wrap: break-word;
}
.field {
  font-weight: bold;
}
