@import "Styles/animation";
@import "Styles/mixins";

.container {
  display: flex;
}

.calendarContainer {
  flex-grow: 1;
  padding: 1.5rem;
  z-index: 0;
  overflow: auto;
  &[data-is-loading="true"] {
    opacity: 0.5;
  }
}

.panelContainer {
  margin-top: 12.125rem;
}
