@import "~Styles/variables";

.container {
  display: flex;
  height: calc(100vh - 12rem);

  .designer {
    display: flex;
    flex-grow: 1;
    position: relative;
    &.loading {
      justify-content: space-around;
      margin-top: 20vh;
      padding: 0 4rem;
    }
  }

  .loadingContainer {
    align-items: center;
    display: flex;
    height: 10rem;
    width: 100%;
  }

  .loadingStartNode {
    min-width: 9rem;
    min-height: 5rem;
  }

  .loadingEdge {
    height: 0.5rem;
    margin-bottom: 0;
  }

  .loadingTaskNode {
    min-width: 14rem;
    min-height: 5rem;
  }

  .diagram {
    background-color: var(--cds-ui-background) !important;
  }

  :global .srd-diagram {
    overflow: hidden;
  }

  svg:not(:root) {
    overflow: visible !important;
  }
}
