.container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-height: 0;
  flex-grow: 1;

  :global .bmrg--b-textarea__text {
    cursor: pointer;
  }
}

.divider {
  border-bottom: 0.0625rem solid #c1c7cd;
  margin: 1rem -1rem 1rem;
  opacity: 0.5;
}

.inputsTitle {
  color: var(--cds-text-primary);
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 1rem;
}

.resultParamsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.375rem;

  :global .cds--tag {
    margin: 0;
  }
}
