@import "~@boomerang/boomerang-styles/lib/colors";

.c-step-side-info {
  position: absolute;
  right: 1rem;
  top: 22rem;
  padding: 1rem;
  background-color: $white;
  width: 25vw;
}

.s-step-side-info-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-step-side-info-details {
  padding: 2rem 0 0 1.75rem;
  width: 100%;
}

.b-step-side-info-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.b-step-side-info-field__key {
  width: 30%;
  font-size: 1rem;
  font-weight: 600;
}

.b-step-side-info-field__value {
  width: 60%;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  img {
    margin-left: 1rem;
    height: 1rem;
    width: 1rem;
  }
}
