@import "~Styles/mixins";

.zoomIcons {
  display: flex;
  width: 4.5rem;
  justify-content: space-between;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  z-index: 1;
}

.zoomButton {
  cursor: pointer;
  line-height: 0;
  margin: 0;
  padding: 0.125rem;
  &:focus {
    @include focus-outline();
  }
}

.zoomIcon {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--cds-interactive-01);
}
