@import "~Styles/variables";
@import "~Styles/mixins";
@import "~@boomerang/boomerang-styles/lib/colors";

:global .c-workflow-diagram-execution {
  .node.srd-node {
    cursor: initial;
  }
}

.failure {
  border: 0.1875rem solid #a51920;
}

.inProgress {
  border: 0.1875rem solid #0072c3;
}
.disabled {
  border: none;
  opacity: 0.5;
}
.normal {
  border: none;
}
