@import "~@boomerang/boomerang-styles/lib/colors";

.c-workflow-import {
  .b-importWorkflowDropzoneSection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .dropzone {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .b-import-dropzone-button {
    align-items: center;
    background-color: $teal-20;
    border: 0.063rem solid $teal-20;
    color: $white;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    height: 3.938rem;
    justify-content: center;
    max-width: 29rem;
    transition: transform 0.1s ease-out;
    width: 100%;

    &:active {
      transform: scale(0.97);
    }

    &:hover {
      background-color: $white;
      border: 0.063rem solid $teal-20;
      color: $gray-90;
    }
  }

  .b-import-dropzone {
    display: flex;
    height: 3.938rem;
    max-width: 29rem;
    position: absolute;
    top: 6.438rem;
    width: 100%;
    z-index: 1;
  }

  .b-import-dropzone-error {
    align-items: center;
    background-color: $white;
    border: 0.0625rem solid $teal-20;
    border-radius: 0.25rem;
    color: $teal-20;
    cursor: pointer;
    display: flex;
    font-size: 1.125rem;
    font-weight: 500;
    height: 2.5rem;
    letter-spacing: 0.1875rem;
    justify-content: center;
    max-width: 29rem;
    transition: transform 0.1s ease-out;
    width: 100%;
    z-index: 1;
    &:active {
      transform: scale(0.97);
    }

    &:hover {
      background-color: $teal-20;
      color: $white;
    }
  }

  .b-import-dropzone__img {
    height: 2.5rem;
    width: 2.5rem;
    z-index: 1;
  }

  .b-import-dropzone__dragEnter {
    align-items: center;
    background-color: transparent;
    border: 0.063rem dashed $teal-20;
    display: flex;
    height: 3.938rem;
    justify-content: center;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.063rem;
    line-height: 1.125rem;
    margin-top: 0;
    width: 100%;
    opacity: 1;
  }

  .b-import-dropzone__center {
    max-width: 26rem;
    margin-top: 0.625rem;
    width: 100%;
    z-index: 1;
  }

  .b-import-dropzone__left {
    padding: 0 1.25rem 0 0;
  }

  .b-import-dropzone__right {
    align-items: center;
    border: 0.063rem solid $gray-80;
    color: $gray-90;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 1.25rem;
    justify-content: space-around;
    margin-top: 0.625rem;
    padding: 0.063rem;
    width: 1.5rem;
    z-index: 1;

    &:hover {
      transform: scale(1.03);
    }
  }

  .b-import-dropzone-close__img {
    display: flex;
    height: 0.6rem;
    width: 0.6rem;
    z-index: 1;
  }

  .b-import-dropzone__message {
    color: $teal-20;
    font-size: 0.875rem;
    padding: 0.313rem 0 0 0;
    z-index: 999;
  }

  #importWorkflowAttachment-progress {
    background-color: $gray-10;
    border-radius: 0.25rem;
    display: flex;
    height: 0.625rem;
    max-width: 21rem;
    width: 100%;
  }

  #importWorkflowAttachment-progress-bar {
    width: 0;
    height: 0.625rem;
    background-color: $teal-20;
    border-radius: 6.25rem;
  }
}
