@import "~@boomerang/boomerang-styles/lib/colors";

.c-tasks-sidenav {
  .bmrg--c-sidenav {
    height: calc(100vh - 12rem);
    margin-top: 0rem;
    min-height: 0rem;
    overflow: auto;
    width: 20rem;
  }

  .bmrg--b-sidenav-content {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
