@import "~@boomerang/boomerang-styles/lib/colors";

.c-tasks-sidenav {
  .bmrg--c-sidenav {
    height: 100%;
    overflow: auto;
    min-height: 0rem;
  }

  .bmrg--b-sidenav-content {
    margin-top: 1rem;
  }
}
