@import "~Styles/variables";

.node {
  background: #9bf3ef;
  border-color: #9bf3ef;
}

.closeButton {
  position: absolute;
  right: -0.75rem;
  top: -0.75rem;
  width: 1.5rem;
}

.editButton {
  position: absolute;
  right: 1.75rem;
  top: -0.75rem;
  width: 1.5rem;
}
