@import "~@boomerang/boomerang-styles/lib/colors";

.c-onboardExp {
  align-items: center;
  border-radius: 0.2rem;
  background-color: $cerulean-90;
  display: flex;
  flex-direction: column;
  height: 24.125rem;
  position: relative;
  max-width: 39.3125rem;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.b-onboardExp-screen-modal-close {
  align-items: center;
  background-color: $teal-20;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  position: absolute;
  justify-content: center;
  right: -1.25rem;
  top: -1.25rem;
  width: 2.5rem;
  z-index: 999;
}

.b-onboardExp-screen--hidden {
  display: none;
}

.b-onboardExp-screen-modal-close__img {
  height: 1rem;
  width: 0.875rem;
}

.b-onboardExp-content {
  align-items: center;
  display: flex;
  height: 12.5rem;
  flex-direction: column;
  padding: 1.25rem 0 0 0;
  max-width: 39.313rem;
  width: 100%;
}

.b-onboardExp-content--height {
  align-items: center;
  display: flex;
  height: 3.75rem;
  flex-direction: column;
  max-width: 39.313rem;
  width: 100%;
}

.b-onboardExp__title {
  color: $cool-white-1;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.125rem;
  line-height: 2.625rem;
  max-width: 35.563rem;
  text-align: center;
  width: 100%;
}

.b-onboardExp__subtitle {
  color: $cool-white-1;
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.688rem;
  padding: 0 0 1.25rem 0;
  max-width: 23.063rem;
  margin-top: 2.8125rem;
  width: 100%;
}

.b-onboardExp__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 17.75rem;
}

.b-onboardExp__button {
  align-items: center;
  background-color: #d0dada;
  border: none;
  border-radius: 0.25rem;
  color: $gray-90;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  height: 2.625rem;
  min-width: 8.25rem;
  transition: transform 0.1s linear;
  text-align: center;
  width: 8.25rem;

  &:active {
    transform: scale(0.975);
  }
}

.b-onboardExp__button--right {
  background-color: #8ee9d4;
}

.b-onboardExp-footer {
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.b-onboardExp-footer__img {
  //background: url('../../../assets/imgs/bkg-skyline.svg') no-repeat;
  background-size: cover;
}

.b-onboardExp-finish {
}

.b-onboardExp-finish__title {
  color: $cool-white-1;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.125rem;
  line-height: 2.625rem;
  margin-top: 1.875rem;
  max-width: 35.563rem;
  text-align: center;
  width: 100%;
}

.b-onboardExp-finish__subtitle {
  display: flex;
  color: $cool-white-1;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.688rem;
  letter-spacing: 0.015rem;
  margin: 0.625rem 0 0 0;
  max-width: 35.563rem;
  width: 100%;
}

.b-onboardExp-finish-oval-content {
  margin: 0 0.313rem 0 0.313rem;
}

.b-onboardExp-finish-oval {
  align-items: center;
  border: 0.063rem solid $teal-20;
  border-radius: 50%;
  box-sizing: content-box;
  color: $teal-20;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.175rem;
  height: 1rem;
  justify-content: center;
  width: 1rem;
}

.b-onboardExp-finish__img {
  height: 6.25rem;
  width: 2.341rem;
}

.b-onboardExp-finish__button {
  align-items: center;
  background-color: #8ee9d4;
  border: none;
  border-radius: 0.25rem;
  color: $gray-90;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  height: 2.625rem;
  margin-top: 3rem;
  min-width: 8.25rem;
  transition: transform 0.1s linear;
  text-align: center;
  width: 9.25rem;

  &:active {
    transform: scale(0.975);
  }
}

@media (max-width: 32.5rem) {
  .b-onboardExp-footer__img {
    margin: 0;
  }

  .b-onboardExp-screen-modal-close {
    top: 0.25rem;
    right: 0.25rem;
  }
}
