@import "~Styles/variables";
@import "~@boomerang/boomerang-styles/lib/colors";

.container {
  align-items: flex-end;
  display: flex;
}

.title {
  color: $text-01;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.625rem;
  margin: 0rem;
  max-width: 50rem;
}

.label {
  color: $text-01;
  font-size: 1.25rem;
  font-weight: 300;
  height: 1.67rem;
  line-height: 1.67rem;
}

.versionSwitcherContainer {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.workflowButtons {
  align-items: flex-end;
  display: flex;
  margin-left: auto;
}
