@import "~Styles/variables";
@import "~@boomerang/boomerang-styles/lib/colors";

.container {
  height: 9.0625rem;
}

.header {
  width: 100%;
}

.title {
  color: $text-01;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.625rem;
  margin: 0rem;
  max-width: 50rem;
}

.breadcrumbContainer {
  align-items: flex-start;
  display: flex;
  margin-bottom: -1rem;
}

.workflowsLink {
  font-size: 0.875rem;
  letter-spacing: 0.16px;
  line-height: 1.125rem;
}

.breadcrumbDivider {
  font-size: 0.875rem;
  letter-spacing: 0.16px;
  line-height: 1.125rem;
  margin: 0 0.5rem;
}

.workflowName {
  color: $text-01;
  font-size: 0.875rem;
  letter-spacing: 0.16px;
  line-height: 1.125rem;
}

.validateButton {
  margin-left: auto;
}

.workflowButtons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -0.875rem;
  margin-left: auto;
}
