@import "~Styles/variables";

.container {
  height: 1.5rem;
  width: 1.5rem;

  &.designer {
    border-color: $interactive-01;
    cursor: pointer;
  }

  &.execution {
    border-color: $text-01;
  }

  &.success {
    path {
      fill: #0da29f;
    }
  }

  &.failure {
    path {
      fill: #a2191f;
    }
  }

  &.always {
    path {
      fill: #000000;
    }
  }
}
