@import "~Styles/variables";

.container {
  background: $ui-01;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem;
  border-radius: 50%;
  border: 0.0625rem solid $interactive-01;

  height: 1.5rem;

  &.designer {
    border-color: $interactive-01;
    cursor: pointer;
  }

  &.execution {
    border-color: $text-01;
  }

  svg {
    background: $ui-01;
    height: 0.9375rem;
    margin: 0.125rem;
    width: 0.9375rem;
  }

  &.success {
    path {
      fill: #434747;
    }
  }

  &.failure {
    path {
      fill: #a2191f;
    }
  }

  &.always {
    path {
      fill: #000000;
    }
  }
}
