@import "~Styles/variables";
@import "~@boomerang/boomerang-styles/lib/colors";

.links {
  align-items: center;
  display: flex;
  position: relative;
  width: fit-content;
}

.link {
  border-bottom: 0.125rem solid #b9bfc7;
  color: var(--cds-icon-02);
  font-size: 0.875rem;
  letter-spacing: 00.01rem;
  line-height: 1.125rem;
  padding: 0 1.75rem 0.625rem;

  &.--active {
    border-bottom: 0.125rem solid var(--cds-support-02);
    color: var(--cds-text-01);
    font-weight: 600;
  }
}
