.iconTitle {
  color: var(--cds-text-02);
  font-size: 0.75rem;
}
.iconSubtitle {
  color: var(--cds-text-05);
  font-size: 0.75rem;
}

.iconsWrapper {
  display: flex;
  flex-flow: wrap;
  margin: 1.25rem 0;
  :global .bx--assistive-text {
    text-transform: capitalize;
  }
}
.iconLabel {
  align-items: center;
  border: 0.125rem solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  height: 2.7rem;
  justify-content: center;
  margin: 0 0.5rem;
  transition: all 0.15s ease;
  width: 2.7rem;

  [type="radio"] {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  [type="radio"] + img {
    cursor: pointer;
  }

  &.active {
    background: #3DDBD9;
    svg {
      fill: var(--cds-ui-05);
    }

    &:hover {
      background: #3DDBD9;
      svg {
        fill: var(--cds-ui-05);
      }
    }
  }

  img {
    height: 1rem;
    padding: 0.25rem 0.425rem;
    width: 1rem;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background: #bae6ff;
  }

  &:first-child {
    margin: 0;
  }
}

.icon {
  height: 2rem;
  padding: 0.25rem 0.425rem;
  width: 2rem;
}
