@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";

.c-version-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 0.25rem solid white;
  border-bottom: 0.25rem solid white;
  margin: 0 2.5rem;
}

.c-version-switcher-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13.75rem;
  height: 100%;
}

.b-version-switcher-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4rem;
  height: 100%;
  button {
    line-height: 0;
  }
}

.b-version-switcher-buttons__button {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;

  &.--disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.b-version-switcher-buttons__text {
  color: $text-01;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
