@import "~@boomerang/boomerang-styles/lib/colors";

.c-version-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 0.25rem solid $gray-10;
  border-bottom: 0.25rem solid $gray-10;
  margin: 0 2rem;
}

.s-version-switcher-text {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
}

.c-version-switcher-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  height: 100%;
}

.b-version-switcher-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4rem;
  height: 100%;
}

.b-version-switcher-buttons__backward {
  height: 1.25rem;
  transform: scaleX(-1);
  cursor: pointer;

  &.--disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.b-version-switcher-buttons__forward {
  height: 1.25rem;
  cursor: pointer;

  &.--disabled {
    opacity: 0.3;
    cursor: default;
  }
}
