@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";
@import "~Styles/mixins";

.c-workflow-inputs {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
}

.b-workflow-input {
  position: relative;
  background-color: $white;
  height: 25rem;
  width: 20rem;
  padding: 1rem;
  margin: 0 2rem 2rem 0;
  border-left: 0.3125rem solid $support-02;

  // &.--text {
  //   border-left-color: $green-30;
  // }
  // &.--textarea {
  //   border-left-color: $ultramarine-30;
  // }
  // &.--boolean {
  //   border-left-color: $red-30;
  // }
  // &.--password {
  //   border-left-color: $gray-30;
  // }
  // &.--number {
  //   border-left-color: $gold-30;
  // }
  // &.--select {
  //   border-left-color: $violet-30;
  // }
  &.--true {
    opacity: 0.65;
  }
}

.b-workflow-input__name {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.b-workflow-input-field {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 1rem;
}

.b-workflow-input-field__key {
  color: $text-01;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  @include text-overflow-ellipsis();
}

.b-workflow-input-field__value {
  color: $text-01;
  font-size: 16px;
  line-height: 20px;
  @include text-overflow-ellipsis();
}

.b-workflow-input__delete {
  position: absolute;
  display: flex;
  align-items: center;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.b-workflow-input__delete-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.b-workflow-input-edit {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 1rem;
  top: 1.125rem;
  right: 3.5rem;
  cursor: pointer;
}

.b-workflow-input-edit__pencil {
  height: 1.125rem;
  width: 1.125rem;
}

.b-workflow-input-create {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 20rem;
  border: 0.0625rem solid #373d42;
  color: $brand-02;
  cursor: pointer;
}

.b-workflow-input-create__plus {
  display: flex;
  align-items: center;
}

.b-workflow-input-create__plus-text {
  color: $brand-02;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 0.5rem;
}

.b-workflow-input-create__plus-icon {
  fill: $brand-02;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
