.c-activity-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.bmrg--c-loading-animation.s-activities-loading{
  height: 3rem;
  justify-content: center;
}
.s-activities-loading{
  .bmrg--b-loading-animation__text{
    display: none;
  }.bmrg--b-loading-animation__img{
    transform: scale(0.3);
  }
}
