@import "~@boomerang/boomerang-styles/lib/colors";

.c-activity-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.bmrg--c-loading-animation.s-activities-loading{
  height: 3rem;
  justify-content: center;
}
.s-activities-loading{
  .bmrg--b-loading-animation__text{
    display: none;
  }.bmrg--b-loading-animation__img{
    transform: scale(0.3);
  }
}

.b-activities__scroll-up-button{
  background-color: red;
  width: 2rem;
  height: 2rem;
  position: fixed;
}
.c-activities__scroll-up{
  opacity: 0.01;
  position: fixed;
  bottom: 2rem;
  right: 5rem;
  transition: ease-in-out 150ms;

  &.--scroll-up-togled{
    transition: ease-in-out 150ms;
    cursor: pointer;
    opacity: 1;
  }
}
.b-activities__scroll-button{
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.75rem;
  transform: rotate(270deg);
}
.b-activities__scroll-label{
  color: $cerulean-70;
  font-size: 1rem;
  font-weight: 600;
}