body {
  background-color: $text-area-gray;
  line-height: 1.3;
  letter-spacing: 0.0375rem;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}

/* body of the application */
.c-app {
  margin: 0 auto;
}

/* actual content of the app */
.c-app-content {
  display: flex;
  flex: 1;
  min-height: calc(100vh - 3.125rem);
  /* margin-top: 3.125rem; */
}

.c-app-content--not-loaded {
  align-items: center;
  justify-content: center;
}

/* don't scroll when modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}
/* fix for carbon menu */
.bx--list-box__menu {
  z-index: 998;
}

#app {
  //overwrite carbon components
  .bx--list-box__label {
    color: $black;
    font-weight: 400;
  }

  //overwrite boomerang components

  .bmrg--b-text-input__input.--bmrg-flow {
    box-shadow: 0 0 0 62.5rem $white inset !important;
  }

  .bmrg--c-text-input {
    //padding-bottom: 3.125rem;
  }

  .bmrg--b-text-input__input.--bmrg-flow {
    border-radius: 0.225rem;
    border: none;
    &:focus {
      border: none;
    }
  }

  .bmrg--b-textarea__text {
    background: $white;
    border: none;
    caret-color: $gray-90;
    padding: 0.5rem;
    transition: border 0.3s ease;

    &:focus {
      border: none;
    }

    &::placeholder {
      color: $cool-gray-20;
      font-style: initial;
      font-weight: 200;
      letter-spacing: 0.125rem;
    }
    .bmrg--b-textarea__error {
      color: $orange-pink;
    }
  }

  .bmrg--b-textarea__title {
    color: $gray-90;
  }

  .bmrg--b-auto-suggest-textarea__text {
    background: $white;
    border: none;
    caret-color: $gray-90;
    padding: 0.5rem;
    transition: border 0.3s ease;

    &:focus {
      border: none;
    }

    &::placeholder {
      color: $cool-gray-20;
      font-style: initial;
      font-weight: 200;
      letter-spacing: 0.125rem;
    }
    .bmrg--b-auto-suggest-textarea__error {
      color: $orange-pink;
    }
  }

  .bmrg--b-auto-suggest-textarea__title {
    color: $gray-90;
  }

  .bmrg--b-tooltip {
    border: 0rem;
    opacity: 1;
    max-width: 30rem;
  }

  .bmrg--c-select-dropdown.--bmrg-flow {
    .Select-multi-value-wrapper .Select-value-label {
      color: $gray-90;
      font-size: 1.125rem;
      font-weight: 300;
      letter-spacing: 0.125rem;
    }

    .s-select-dropdown-label {
      font-size: 0.875rem;
      letter-spacing: 0.03125rem;
      line-height: 1.125rem;
      font-weight: 300;
      margin-bottom: 0.3125rem;
      background-color: initial;
      color: initial;
      padding: 0;
    }

    .Select-control {
      height: 2.15625rem;
      border-radius: 0.2rem;
    }
  }

  .bmrg--b-button.--disabled {
    opacity: 0.6;
  }
}

//Portals are not children of #app
.bmrg--c-modal-flow {
  border-radius: 0.25rem !important;
}

.bmrg--c-modal-flow.--bmrg-flow {
  background: $neutral-white-4;

  .bmrg--b-text-input__input.--bmrg-flow {
    box-shadow: 0 0 0 62.5rem $white inset !important;
  }

  .bmrg--c-text-input {
    //padding-bottom: 3.125rem;
  }

  .bmrg--b-text-input__input.--bmrg-flow {
    border-radius: 0.225rem;
    border: none;
    &:focus {
      border: none;
    }
  }

  .bmrg--b-textarea__text {
    background: $white;
    border: none;
    caret-color: $gray-90;
    padding: 0.5rem;
    transition: border 0.3s ease;

    &:focus {
      border: none;
    }

    &::placeholder {
      color: $cool-gray-20;
      font-style: initial;
      font-weight: 300;
      letter-spacing: 0.125rem;
    }
  }

  .bmrg--b-textarea__title {
    color: $gray-90;
  }

  .bmrg--b-textarea__error {
    color: $orange-pink;
  }

  .bmrg--b-auto-suggest-textarea__text {
    background: $white;
    border: none;
    caret-color: $gray-90;
    padding: 0.5rem;
    transition: border 0.3s ease;
    resize: vertical;

    &:focus {
      border: none;
    }

    &::placeholder {
      color: $cool-gray-20;
      font-style: initial;
      font-weight: 300;
      letter-spacing: 0.125rem;
    }
  }

  .bmrg--b-auto-suggest-textarea__title {
    color: $gray-90;
  }

  .bmrg--b-auto-suggest-textarea__error {
    color: $orange-pink;
  }

  .bmrg--b-tooltip {
    border: 0rem;
    opacity: 1;
    max-width: 30rem;
  }

  //overide SelectDropdown styles
  .bmrg--c-select-dropdown.--bmrg-flow {
    .Select-multi-value-wrapper .Select-value-label {
      color: $gray-90;
      font-size: 1.125rem;
      font-weight: 300;
      letter-spacing: 0.125rem;
    }

    .s-select-dropdown-label {
      font-size: 0.875rem;
      letter-spacing: 0.03125rem;
      line-height: 1.125rem;
      font-weight: 300;
      margin-bottom: 0.3125rem;
      background-color: initial;
      color: initial;
      padding: 0;
    }

    .Select-control {
      height: 2.15625rem;
      border-radius: 0.2rem;
    }
  }

  .bmrg--b-button.--disabled {
    opacity: 0.6;
  }
}

.bmrg--c-confirm-modal.--bmrg-flow {
  background: $neutral-white-4;
  border-radius: 0.25rem !important;
  border: none !important;
}

.bmrg--b-modal-confirm-button {
  align-self: center;
}

.bmrg--b-modal-nav-button.--bmrg-flow {
  background: #f3f3f3;
}

//Overwrite carbon
.bx--pagination .bx--select-input {
  padding: 0 1.25rem 0 0.625rem;
}

.bx--table-header-label {
  color: $tab-blue;
  padding-right: 0.5rem;
}

.bx--overflow-menu {
  height: auto;
}
