body {
  background-color: var(--cds-ui-background);
  color: #272727;
  line-height: 1.3;
  letter-spacing: 0.0375rem;
}

button {
  background: transparent;
  border: none;
  font-family: "IBM Plex Sans";
  margin: 0;
  padding: 0;
}

a {
  color: $cerulean-50;
}

/* fix for carbon menu */
.bx--list-box__menu {
  z-index: 998;
}

#app {
  //overwrite carbon components
  .bx--list-box__label {
    color: $black;
    font-weight: 400;
  }
}
textarea {
  resize: none !important;
}
