body {
  background-color: $text-area-gray;
}

/* body of the application */
.c-app {
  margin: 0 auto;
}

/* actual content of the app */
.c-app-content {
  display: flex;
  flex: 1;
  min-height: calc(100vh - 3.125rem);
  /* margin-top: 3.125rem; */
}

.c-app-content--not-loaded {
  align-items: center;
  justify-content: center;
}

.bmrg--c-sidenav {
  width: 20rem;
}

/* don't scroll when modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}
/* fix for carbon menu */
.bx--list-box__menu {
  z-index: 998;
}

//overwrite bmrg components
.bmrg--c-modal-flow.--bmrg-white {
  background: $neutral-white-4;
}

.bmrg--b-text-input__input.--bmrg-white {
  box-shadow: 0 0 0 62.5rem $white inset !important;
}

.bmrg--c-text-input {
  //padding-bottom: 3.125rem;
}

.bmrg--b-text-input__input.--bmrg-white {
  border-radius: 0.225rem !important;
  border: none !important;
  &:focus {
    border: none !important;
  }
}

.bmrg--b-textarea__text {
  background: $white !important;
  border: none !important;
  caret-color: $gray-90 !important;
  padding: 0.5rem !important;
  transition: border 0.3s ease !important;

  &:focus {
    border: none !important;
  }

  &::placeholder {
    color: $cool-gray-20 !important;
  }
}

.bmrg--b-textarea__title {
  color: $gray-90 !important;
}

.bmrg--b-tooltip {
  border: 0rem !important;
}

//overide SelectDropdown styles
.bmrg--c-select-dropdown.--bmrg-white {
  .Select-multi-value-wrapper .Select-value-label {
    color: $gray-90 !important;
    font-size: 1.125rem !important;
    font-weight: 300 !important;
    letter-spacing: 0.125rem !important;
  }

  .s-select-dropdown-label {
    font-size: 0.875rem !important;
    letter-spacing: 0.03125rem !important;
    line-height: 1.125rem !important;
    font-weight: 300 !important;
    margin-bottom: 0.3125rem !important;
    background-color: initial !important;
    color: initial !important;
    padding: 0 !important;
  }

  .Select-control {
    height: 2.15625rem !important;
    border-radius: 0.2rem !important;
  }
}
