$carbon-addons-bmrg-theme: boomerang;
$carbon--theme--bmrg-light: true;

@import "~@boomerang/carbon-addons-boomerang/scss/styles.scss";

@import "~carbon-components/scss/components/multi-select/multi-select";
@import "~carbon-components/scss/components/select/select";
@import "~carbon-components/scss/components/overflow-menu/overflow-menu";
@import "~carbon-components/scss/components/checkbox/checkbox";
@import "~carbon-components/scss/components/data-table-v2/data-table-v2";
@import "~carbon-components/scss/components/data-table-v2/data-table-v2-core";
@import "~carbon-components/scss/components/data-table-v2/data-table-v2-sort";
@import "~carbon-components/scss/components/pagination/pagination";
@import "~carbon-components/scss/components/search/search";

// Global overrides
.bx--list-box__field {
  background-color: #40d5bb !important;
}

.bx--list-box__menu-icon > svg {
  fill: black;
}
