$css--reset: false !default;
@import "@carbon/themes/scss/themes";
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

$carbon-addons-bmrg-theme: boomerang;
$carbon--theme--bmrg-light-v2: true;

@import "~@boomerang/carbon-addons-boomerang/scss/styles.scss";

@import "~carbon-components/scss/components/accordion/accordion";
@import "~carbon-components/scss/components/checkbox/checkbox";
@import "~carbon-components/scss/components/date-picker/date-picker";
@import "~carbon-components/scss/components/data-table-v2/data-table-v2";
@import "~carbon-components/scss/components/data-table-v2/data-table-v2-core";
@import "~carbon-components/scss/components/data-table-v2/data-table-v2-sort";
@import "~carbon-components/scss/components/multi-select/multi-select";
@import "~carbon-components/scss/components/overflow-menu/overflow-menu";
@import "~carbon-components/scss/components/pagination/pagination";
@import "~carbon-components/scss/components/search/search";
@import "~carbon-components/scss/components/select/select";
@import "~carbon-components/scss/components/tabs/tabs";

// Global overrides

.bx--list-box__menu-icon > svg {
  fill: black;
}

.bx--table-header-label {
  color: $tab-blue;
  padding-right: 0.5rem;
}
