// Carbon settings
@import "@carbon/themes/scss/themes";

$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

$carbon-addons-bmrg-theme: boomerang;
$carbon--theme--bmrg-light-v2: true;

@import "variables";

@import "~@boomerang/carbon-addons-boomerang/scss/styles.scss";
// @include bmrgFlowColors();
@import "~carbon-components/scss/components/accordion/accordion";
@import "~carbon-components/scss/components/checkbox/checkbox";
@import "~carbon-components/scss/components/date-picker/date-picker";
@import "~carbon-components/scss/components/data-table-v2/data-table-v2";
@import "~carbon-components/scss/components/data-table-v2/data-table-v2-core";
@import "~carbon-components/scss/components/data-table-v2/data-table-v2-sort";
@import "~carbon-components/scss/components/loading/loading";
@import "~carbon-components/scss/components/multi-select/multi-select";
@import "~carbon-components/scss/components/overflow-menu/overflow-menu";
@import "~carbon-components/scss/components/pagination/pagination";
@import "~carbon-components/scss/components/search/search";
@import "~carbon-components/scss/components/select/select";
@import "~carbon-components/scss/components/tabs/tabs";
@import "~carbon-components/scss/components/skeleton/skeleton";

// Global overrides

.bx--list-box__menu-icon > svg {
  fill: black;
}

.bx--date-picker__calendar {
  padding: 0rem;
}
