//https://github.com/carbon-design-system/carbon/blob/master/packages/components/src/globals/scss/_helper-mixins.scss
//@import "~carbon-components/scss/globals/scss/_helper-mixins.scss";

@mixin text-overflow-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin border-radius() {
  border-radius: 0.25rem;
}
