/* Licensed Materials - Property of IBM
© Copyright IBM Corporation 2017. All Rights Reserved.
Author: Timothy Bula
GBS Engineering

/* colors */
$lightest-gray: #fbfcfc;
$dark-gray: #4a4a4a;
$section-gray: #8c9696;
$darkest-gray: #272727;
