/* Licensed Materials - Property of IBM
© Copyright IBM Corporation 2017. All Rights Reserved.
Author: Timothy Bula
GBS Engineering
react-table */
.ReactTable {
  width: 100%;
  border: none;
}
.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -3px 0 0 $teal !important;
}

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 3px 0 0 $teal !important;
}
.ReactTable .rt-thead .rt-th {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-blue;
  color: $teal;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  line-height: 1.125rem;
  border-radius: 0.25rem;
}
.c-audit-log,
.c-users,
.c-requests,
.c-tokens,
.c-templates,
.c-teams-table {
  .ReactTable .-pagination .-btn {
    background-color: $dark-blue !important;
    color: $teal !important;
    font-weight: 300 !important;
  }

  .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: initial;
  }

  .ReactTable.b-users-table__table {
    border: none;
  }

  .ReactTable .rt-tbody .rt-tr-group,
  .ReactTable .rt-tbody .rt-td {
    border: none;
  }
  .ReactTable.-striped .rt-tr.-odd {
    background-color: initial !important;
  }

  .ReactTable .rt-thead.-header {
    box-shadow: none;
    border: none;
  }

  .ReactTable .rt-thead .rt-tr {
    height: 2.125rem;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    border: none;
  }

  .ReactTable .rt-tr-group {
    height: 4.0625rem;
    border-radius: 0.25rem;
    background-color: rgba(248, 250, 250, 0.1);
    margin-bottom: 0.3125rem;
  }

  .ReactTable .rt-tr-group .rt-tr {
    align-items: center;
  }

  .ReactTable .pagination-bottom .-pageInfo {
    color: $white;
  }
  .b-table-row__item {
    color: $light-gray;
    font-size: 1.25rem;
    font-weight: 300;
    margin-left: 1rem;
  }
}

/* Recharts */
.recharts-text.recharts-label {
  color: $darkest-gray;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 6.5rem;
}
