/* Licensed Materials - Property of IBM
© Copyright IBM Corporation 2017. All Rights Reserved.
Author: Timothy Bula
GBS Engineering
*/

$css--body: false !default;
$css--reset: false !default;

/* colors */
$black: #000000;
$white: #ffffff;
$off-white: #f3f3f3;
$title-gray: #f5e8db;
$lightest-gray: #fbfcfc;
$light-gray: #f8fafa;
$hour-gray: #343334;
$lighter-gray: #d8d8d8;
$text-area-gray: #eaeaea;
$pale-slate: #c0bfc0;
$pale-gray: #b3b1b3;
$gray: #777677;
$dark-gray: #4a4a4a;
$section-gray: #8c9696;
$darkest-gray: #272727;
$teal: #40d5bb;
$outside-teal: #27685d;
$light-teal: #71cddd;
$lighter-teal: #75cddc;
$lightest-blue: #00b6cb;
$indigo-blue: #00b5ca;
$light-blue: #315a7a;
$border-blue: #3c6381;
$tab-blue: #047cc0;
$outside-app-blue: #1d496d;
$lighter-blue: #71cddd;
$lighter-teal: #75cddc;
$blue: #1c496d;
$dark-blue: #1d364d;
$green: #57d785;
$red: #ff806c;
$orange-pink: #f97f6b;
$error-red: #ff5c49;
$status-orange: #ffaa9d;
$status-yellow: #fbeaae;
$status-blue: #56acf2;
$status-gray: #9fa7a7;
$card-blue: #33495e;
$full-report-dark-gray: #424747;
$full-report-gray: #6f7878;
$status-teal: #39cead;
