@import "~Styles/variables";

.c-action-bar {
  padding: 0 10rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  background-color: $lighter-gray;

  .bmrg--c-text-input {
    padding-bottom: 0rem;
    width: 16rem;
  }
}
