.bx--bmrg-header-brand.bx--bmrg-header-brand--no-menu {
  padding-left: 3.5rem;
}

.s-hamburger-menu {
  height: 3.125rem;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0.625rem;
  cursor: pointer;
  transition: all 0.35s linear;
  transform: scale(0.75);

  &.--is-open {
    transform-origin: 0% 22.5%;
  }

  .bar1 {
    transform-origin: -15% 50%;
    transition: all 0.35s linear;
  }
  .bar3 {
    transform-origin: 30% 50%;
    transition: all 0.35s linear;
  }

  .bar2 {
    transition: all 0.2s linear;
  }

  &.--is-open .bar1 {
    transform: rotate(42deg);
  }

  &.--is-open .bar3 {
    transform: rotate(-42deg);
  }

  &.--is-open .bar2 {
    width: 0;
    opacity: 0;
  }
}

.s-sidenav-wrapper .bmrg--c-sidenav {
  z-index: 21;
}
