@import "~@boomerang/boomerang-styles/lib/colors";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 3.75rem;
}

.valueAndIcon {
  position: relative;
}

.value {
  color: $gray-60;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.625rem;
}

.text {
  color: $gray-90;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.icon {
  bottom: 0.4rem;
  right: -1.25rem;
  height: 1rem;
  position: absolute;
  width: 1rem;
}

.emoji {
  bottom: 0.7rem;
  right: -1.25rem;
  height: 1rem;
  position: absolute;
  width: 1rem;
}
