.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 3.75rem;
}

.valueAndIcon {
  position: relative;
}

.value {
  color: var(--cds-text-02);
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.625rem;
}

.text {
  color: var(--cds-text-01);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.125rem;
}

.icon {
  bottom: 0.4rem;
  right: -1.25rem;
  height: 1rem;
  position: absolute;
  width: 1rem;
}

.emoji {
  bottom: 0.7rem;
  right: -1.25rem;
  height: 1rem;
  position: absolute;
  width: 1rem;
}
