.b-switch-config {
  min-height: 5rem;
  padding-top: 1rem;
  display: flex;
}

.b-switch-config__toggle {
  width: 3rem;
}

.b-switch-config__explanation {
  margin-left: 1rem;
}

.b-switch-customvalue {
  min-height: 13rem;
}

.s-switch-customvalue-desc {
  color: #121619;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.s-switch-customvalue-wildcard {
  padding-top: 0.5rem;
}

.s-switch-customvalue-tips-header {
  margin-bottom: 0.1rem;
}

.s-switch-customvalue-wildcard-section {
  display: flex;
  align-items: center;
}
