@import "~@boomerang/boomerang-styles/lib/colors";

.c-workflow-summary {
  margin-top: 1rem;
  padding: 1rem;
  background-color: $white;
  border-radius: 0.25rem;
}

.s-workflow-summary-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-workflow-summary-details {
  padding: 2rem 0 0 1.75rem;
  width: 100%;
}

.b-workflow-summary-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.b-workflow-summary-field__key {
  width: 30%;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.b-workflow-summary-field__value {
  width: 60%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  img {
    margin-left: 1rem;
    height: 1rem;
    width: 1rem;
  }
}
