@import "~Styles/variables.scss";

.Start-Node,
.Finish-Node {
  background: $hour-gray;
  border-radius: 0.5rem;
  width: 12rem;
  height: 8rem;
  position: "relative";

  .startend-tile {
    font-size: $base;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.1625rem;
    padding-top: 2.3rem;
    color: $off-white;
  }

  .srd-custom-port {
    position: absolute;
    height: 100%;
    top: 0;

    &.--right {
      right: 0;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    &.--left {
      left: 0;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    &:hover {
      background: $lightest-gray;
    }
  }
}
