// import "Styles/mixins";

.container {
  min-width: 21.875rem;
}

.teamLabel {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.searchSection {
  display: flex;
  padding-left: 1rem;
  width: 270px;
  :global .bx--search-input,
  :global .bx--search-close::before {
    background-color: var(--cds-ui-02);
  }
}

.teamContainer {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.625rem;
  padding: 0 1rem;
  margin-bottom: 0;
}

.description {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.125rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.tasksInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info {
  color: var(--cds-text-02);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  margin: 1rem;
}
