@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";

.c-workflow-overview {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;

  .bx--text-area__wrapper {
    width: 100%;
  }

  .c-overview-card {
    //display: flex;
    // flex-direction: column;
    margin: 1rem;
    padding: 0rem 2rem 2rem;
    width: calc(100vw * 0.3);
    min-width: 30rem;
    max-width: 40rem;
    background: $neutral-white-4;
    border-radius: 0.25rem;
    height: 40rem;

    .bx--form-item {
      margin: 1rem 0rem;
    }

    .b-overview__text-area {
      height: 4rem;
    }
  }

  .b-options {
    display: flex;
    flex-direction: column;
  }

  .s-general-info-title,
  .s-trigger-title,
  .b-options__title {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
  }

  .s-general-info-title {
    margin-bottom: 1.5rem;
  }

  .s-workflow-icons-title {
    font-size: 0.875rem;
    color: $gray-90;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  .s-webhook-token-message {
    height: 2rem;
    font-style: italic;
  }

  .b-workflow-icons {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .b-workflow-icons__icon {
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: all 0.15s ease;

    [type="radio"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    [type="radio"] + img {
      cursor: pointer;
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.25rem 0.425rem;
    }

    &:focus {
      outline: default;
    }

    &.--active {
      background: $support-02;
      svg {
        fill: $white;
      }
    }
  }

  .b-webhook,
  .b-schedule,
  .b-event,
  .b-persistence {
    display: flex;
    align-items: center;
    min-height: 4rem;
  }

  .b-webhook__toggle {
    width: 14rem;
  }

  .b-webhook-token__generate {
    border: none;
    background: none;
    padding: 0;
  }

  .b-webhook-token {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .b-webhook-token__value {
    background-color: $white;
    margin-right: 5 rem;
  }

  .b-webhook-token__icon {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.75rem;
  }

  .b-schedule__information {
    font-size: 0.875rem;
  }

  .b-schedule__information--cronMessage {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    font-style: italic;
  }

  .b-schedule__information--timezone {
    font-style: italic;
    padding-bottom: 0.5rem;
  }

  .b-schedule__toggle {
    width: 14rem;
  }

  .b-schedule__toggle {
    width: 14rem;
  }

  .b-options__infoIcon {
    height: 1.25rem;
    left: 0.5rem;
    position: relative;
  }

  .b-event__toggle {
    width: 17rem;
  }

  .b-persistence__toggle {
    width: 17rem;
  }
  .b-event-iamIntegration {
    width: 21rem;
  }
}
