@import "~@boomerang/boomerang-styles/lib/colors";

.c-worklfow-overview {
  display: flex;

  .c-general-info {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    padding: 1rem 3rem 2rem;
    width: 40rem;
    background: $neutral-white-4;
    border-radius: 0.25rem;
  }

  .s-general-info-title {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  .s-worklflow-icons-title {
    font-size: 1rem;
    color: $gray-90;
    margin-bottom: 1rem;
  }

  .b-worklflow-icons {
    display: flex;
    flex-flow: wrap;
  }

  .b-worklflow-icons__icon {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.5rem;

    &.--active {
      border: 1px solid #40d5bb;
    }
  }
}
