@import "~@boomerang/boomerang-styles/lib/colors";

.c-worklfow-overview {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;

  .c-overview-card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    width: calc(100vw * 0.3);
    min-width: 30rem;
    max-width: 40rem;
    background: $neutral-white-4;
    border-radius: 0.25rem;
    height: 40rem;
  }

  .b-options {
    display: flex;
    flex-direction: column;
  }

  .s-general-info-title,
  .s-trigger-title,
  .b-options__title {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
  }

  .s-general-info-title {
    margin-bottom: 1.5rem;
  }

  .s-workflow-icons-title {
    font-size: 1rem;
    color: $gray-90;
    margin-bottom: 1rem;
  }

  .s-webhook-token-message {
    padding-top: 1rem;
    height: 2rem;
    font-style: italic;
  }

  .b-workflow-icons {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .b-workflow-icons__icon {
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: all 0.15s ease;

    [type="radio"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    [type="radio"] + img {
      cursor: pointer;
    }

    img {
      width: 3rem;
      height: 3rem;
      padding: 0.25rem 0.425rem;
    }

    &:focus {
      outline: default;
    }

    &.--active {
      border: 2px solid $teal-20;
    }
  }

  .b-webhook,
  .b-schedule,
  .b-persistence {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    min-height: 4rem;
  }

  .b-webhook-token {
    display: flex;
    align-items: center;
    padding: 1rem 0rem 2rem;

    .bmrg--c-text-input {
      padding-bottom: 0rem;
    }
  }

  .b-webhook-token__value {
    background-color: $white;
    margin-right: 5 rem;
  }

  .b-schedule__toggle {
    margin-left: 2rem;
  }
  .b-webhook__toggle {
    margin-left: 2.2rem;
  }

  .b-persistence__toggle {
    margin-left: 2.5rem;
    height: 1.125rem;
  }

  .b-webhook-token__icon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
  }

  .b-webhook-token__generate {
    border: none;
    background: none;
    padding: 0;
  }

  .b-schedule__cronMessage {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .b-options__infoIcon {
    height: 1.25rem;
    left: 0.5rem;
    position: relative;
  }
}
