@import "~@boomerang/boomerang-styles/lib/colors";

.c-worklfow-overview {
  display: flex;

  .c-general-info,
  .c-trigger {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    padding: 1rem 3rem 2rem;
    width: 44rem;
    background: $neutral-white-4;
    border-radius: 0.25rem;
  }

  .s-general-info-title,
  .s-trigger-title {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  .s-workflow-icons-title {
    font-size: 1rem;
    color: $gray-90;
    margin-bottom: 1rem;
  }

  .b-workflow-icons {
    display: flex;
    flex-flow: wrap;
  }

  .b-workflow-icons__icon {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.5rem;

    &.--active {
      border: 0.0625rem solid #40d5bb;
      border-radius: 0.125rem;
    }
  }
  .b-webhook {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }

  .b-schedule {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    margin-right: 5 rem;
  }

  .b-webhook__token {
    display: block;
    padding-top: 1rem;
    float: left;
    .bmrg--c-text-input {
      display: inline;
      .bmrg--b-text-input {
        width: fit-content;
        margin: 0;
        float: left;
      }
    }
    div {
      display: inline;
    }
    .b-webhook__token-Modal {
      position: relative;
      left: 4.5rem;
    }
  }

  .b-webhook__token-value {
    background-color: $white;
    margin-right: 5 rem;
  }

  .b-schedule__toggle {
    margin-left: 2rem;
  }
  .b-webhook__toggle {
    margin-left: 2.2rem;
  }

  .b-webhook__token-eyeIcon {
    position: relative;
    left: 1.5rem;
    top: 0.5rem;
  }

  .b-webhook__token-copyIcon {
    position: relative;
    left: 3rem;
  }

  .b-webhook__token-refreshIcon {
    //position: relative;
    //left: 4.5rem;
  }
}
