@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/mixins";

.c-step-side-info {
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  background-color: $white;
  border-radius: 0.25rem;
}

.s-step-side-info-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-left: 1rem;
  letter-spacing: 0.0625rem;
  @include text-overflow-ellipsis();
}

.c-step-side-info-details {
  padding: 2rem 0 0 1.75rem;
  width: 100%;
}

.b-step-side-info-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.b-step-side-info-field__key {
  width: 30%;
  font-size: 1rem;
  font-weight: 500;
}

.b-step-side-info-field__value {
  width: 60%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
  display: flex;
  align-items: center;

  img {
    margin-left: 1rem;
    height: 1rem;
    width: 1rem;
  }
}

.s-task-log-trigger {
  cursor: pointer;
  text-decoration: underline;
  color: #047cc0;
  padding: 0.125rem;
}
