@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/mixins";

.c-workflow-card {
  display: flex;
  background-color: $white;
  flex-direction: column;
  justify-content: space-between;
  min-width: 22rem;
  width: 22rem;
  border-radius: 0.25rem;
  margin: 1rem 0.75rem;
  height: 10rem;
  position: relative;
  overflow: hidden;

  .bx--overflow-menu {
    height: 2rem;
    &:focus {
      box-shadow: 0 0 0 1px $teal-20;
    }
  }
  .bx--overflow-menu__icon {
    fill: $teal-20;
    &:hover {
      fill: $teal-20;
    }
  }
  .bx--overflow-menu-options__btn {
    color: $gray-50;
    text-decoration: none !important;
  }
  .bx--overflow-menu-options--open {
    border: solid 0.05rem $teal-20;
    border-radius: 0.25rem;
    overflow: hidden;
    z-index: 998;
  }
  .bx--overflow-menu-options:before {
    border-top-color: $teal-20;
    border-left-color: $teal-20;
  }

  .bx--overflow-menu-options__option {
    min-width: 11.125rem;
    // &:hover {
    //   background-color: $cool-gray-1;
    // }
  }
}
.c-workflow-card__header {
  position: absolute;
  right: 0;
}
.c-workflow-card__status {
  margin-left: 0.75rem;
  display: flex;
  align-items: center;
}
.b-workflow-card__status {
  color: $gray-50;
}
.b-workflow-card__circle {
  margin-right: 0.5rem;
  min-width: 0.75rem;
  max-width: 0.75rem;
  min-height: 0.75rem;
  max-height: 0.75rem;
  border-radius: 50%;
  &.--published {
    background-color: $green-30;
  }
  &.--draft {
    background-color: $gray-20;
  }
}

.c-workflow-card-info {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  padding: 0.5rem;
}
.c-workflow-card__icon {
  width: 5rem;
  display: flex;
  align-items: center;
}
.b-workflow-card__icon {
  width: 4rem;
  height: 3rem;
  margin-bottom: 1rem;
}
.c-workflow-card__description {
  color: $gray-60;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  flex-direction: column;
  margin: 1rem 1rem 0.25rem 0;
  overflow: hidden;
  width: 15rem;
  &:focus {
    outline: none;
  }
}
.b-workflow-card__name {
  color: $gray-80;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.0625rem;
  font-weight: 500;
  text-align: left;
}

.b-workflow-card__description {
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  text-align: left;
  word-break: break-word;
}

.b-workflow-card-launch {
  cursor: pointer;
  width: 100%;
  > .bx--btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    justify-content: center;
    max-width: 22rem;
    padding-right: 0rem;
    width: 22rem;

    .bx--btn__icon {
      margin-left: 1rem;
      position: initial;
    }
  }
}
.b-workflow-card-launch__icon {
  width: 2.5rem;
  height: 2.5rem;
}
.b-workflow-card-activity {
  cursor: pointer;
  position: absolute;
  right: 2.5rem;
  bottom: 0.25rem;
}
.b-workflow-card-activity__icon {
  width: 2rem;
  height: 2rem;
}
.bmrg--b-confirm-modal__button.--affirmative.--children {
  width: 15rem;
  max-width: 13rem;
  position: absolute;
  bottom: 2.45rem;
  right: 12.5rem;
}
.bmrg--c-alert-modal.--execute-workflow {
  width: 38rem;
  .bmrg--b-confirm-modal__buttons {
    align-self: center;
    min-width: 35rem;
  }
}
