@import "~Styles/variables";
@import "~Styles/mixins";

.editContainer {
  position: absolute;
  right: 1.75rem;
  top: -0.75rem;
  width: 1.5rem;
}

.editIcon {
  height: 1.125rem;
  width: 1.125rem;
}

.createPropertyCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 15.625rem;
  border: 0.0625rem solid #373d42;
  color: $brand-02;
  cursor: pointer;
  @include border-radius();
}

.createContainer {
  display: flex;
  align-items: center;
}

.createText {
  color: $brand-02;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 0.5rem;
}

.createIcon {
  fill: $brand-02;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
