@import "~Styles/variables";

.c-workflow-execution {
  display: grid;
  padding: 2rem;
  position: relative;
  margin: 0 auto;
  grid-template-columns: auto 30rem;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "progress progress"
    "main sidebar";
}

@media (max-width: 50rem) {
  .c-workflow-execution {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "progress"
      "sidebar"
      "main";
  }
}

.c-workflow-diagram-execution {
  grid-area: main;
  grid-row-end: span;
  .c-diagram-canvas {
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 25vh);
    background-color: $text-area-gray !important;
  }
}
