.c-browser-modal-body {
  display: flex;
  width: 100%;
  margin: auto;
  height: 30rem;
  .bmrg--b-no-display__img {
    height: 25rem;
  }
  .bmrg--b-no-display__text {
    margin-top: 8rem;
    width: 100vw;
  }
}
