@import "~Styles/variables";

.container {
  background-color: $ui-background !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.executionResultContainer {
  display: flex;
  flex-grow: 1;
}

.executionDesignerContainer {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.diagram {
  margin-top: 3.5rem;
}

.executionWorkflowActions {
  background-color: $ui-background;
  border-bottom: 0.0625rem solid #b9bfc7;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  position: absolute;
  width: 100%;
}
