@import "~Styles/variables";

.input {
  position: relative;
  height: 6rem;
}

.toggleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 3rem;
  letter-spacing: 0.0625rem;
}

.toggleLabel {
  font-size: 0.925rem;
  font-weight: 300;
  letter-spacing: 0.03125rem;
  line-height: 1.125rem;
}

.toggle {
  display: flex;
  flex-direction: row;
  height: 3rem;
  justify-content: flex-end;
}
