.container {
  --fc-button-bg-color: var(--cds-interactive-01);
  --fc-button-border-color: var(--cds-interactive-01);
  --fc-button-hover-bg-color: var(--cds-hover-primary);
  --fc-button-hover-border-color: var(--cds-hover-primary);
  --fc-button-active-bg-color: var(--cds-active-primary);
  --fc-today-bg-color: var(--cds-ui-03);
  height: calc(100vh - 12.125rem);
  position: relative;
}

:global .fc {
  /* the calendar root */
  margin: 0 auto;
  tr {
    background: white;
  }
}

:global .bx--date-picker--range {
  :global .bx--date-picker__input {
    width: 13rem;
    background: var(--cds-ui-02);
  }
}
