.container {
  --fc-button-bg-color: var(--cds-interactive-01);
  --fc-button-border-color: var(--cds-interactive-01);
  --fc-button-hover-bg-color: var(--cds-hover-primary);
  --fc-button-hover-border-color: var(--cds-hover-primary);
  --fc-button-active-bg-color: var(--cds-active-primary);
  --fc-today-bg-color: var(--cds-ui-03);
  position: relative;
}

:global .fc {
  /* the calendar root */
  margin: 0 auto;
  tr {
    background: white;
  }
}

:global .fc-button-primary:focus {
  box-shadow: inset 0 0 0 1px #0072c3, inset 0 0 0 2px #f2f4f8 !important;
}

:global .bx--date-picker--range {
  :global .bx--date-picker__input {
    width: 13rem;
    background: var(--cds-ui-02);
  }
}

.eventContentContainer {
  display: flex;
  position: relative;
  gap: 0.25rem;
  color: var(--cds-text-01);
  //border-radius: 0.5rem;
  //background: var(--cds-ui-background);
  padding: 0.25rem;
  // &[data-status="active"] {
  //   background: var(--cds-support-success);
  // }
  // &[data-status="inactive"] {
  //   background: var(--cds-text-01);
  // }
  // &[data-status="deleted"] {
  //   background: var(--cds-support-error);
  // }
}

.statusCircle {
  &[data-status="active"] {
    fill: var(--cds-support-success);
  }
  &[data-status="inactive"] {
    fill: var(--cds-text-03);
  }
  &[data-status="deleted"] {
    fill: var(--cds-support-error);
  }
}
