.closeButton {
  position: absolute;
  right: -0.75rem;
  top: -1rem;
}

.editButton {
  position: absolute;
  right: 1.5rem;
  top: -1rem;
}

.updateButton {
  position: absolute;
  right: 6rem;
  top: -01rem;
}

.updateTaskModalContainer {
  max-height: 62.5rem !important;
  max-width: 60rem !important;
}
