@import "~Styles/variables";

.container {
  display: flex;
  height: 100%;

  .designer {
    display: flex;
    flex-grow: 1;
    position: relative;
  }

  .diagram {
    background-color: var(--cds-ui-background) !important;
  }

  :global .srd-diagram {
    overflow: hidden;
  }

  svg:not(:root) {
    overflow: visible !important;
  }
}
