@import "~Styles/variables";

// these class names need to be updated to follow BEM

.b-taskNode {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightest-gray;
  border-radius: 0.5rem;
  width: 16rem;
  height: 8rem;
  position: "relative";

  .b-taskNode__tile {
    text-align: center;
    font-weight: 400;
    color: $dark-blue;
    letter-spacing: 0.1675rem;
  }

  .b-taskNode-port {
    position: absolute;
    border-radius: 50%;
    background-color: $teal;

    &.--right {
      right: -0.5rem;
    }
    &.--left {
      left: -0.5rem;
    }
    &:hover {
      background: $teal;
    }
  }

  .b-taskNode__edit {
    position: absolute;
    right: 3rem;
    top: 0.6875rem;
    cursor: pointer;
  }

  .b-taskNode__delete {
    position: absolute;
    right: 0.5rem;
    top: 0.2875rem;
    max-width: 0.5rem;
    max-height: 0.5rem;
  }

  .b-taskNode__img {
    bottom: 1rem;
    position: absolute;
    left: 1.5rem;
  }
}
