@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/mixins";
@import "~Styles/variables";

.c-output-properties {
  max-width: 50rem;

  .bx--modal-content {
    padding-right: 1rem;
  }
}

.s-output-properties-trigger {
  color: var(--cds-interactive-01);
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.125rem;

  &:focus {
    @include focus-outline();
  }
}

.s-output-properties-json {
  background-color: $white;
  height: 25rem;
  overflow-y: auto;
  margin-top: 1rem;

  .object-key {
    span {
      color: var(--cds-interactive-01);
    }
  }
}
