@import "Styles/mixins";

.container {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15rem;
  min-width: 15rem;
  height: 18rem;
  position: relative;

  a {
    background-color: var(--cds-layer-02);
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.15s ease;
    &:focus {
      @include focus-outline($offset: 0rem);
    }
    &:hover {
      background-color: var(--cds-background-hover);
    }
    &[disabled] {
      pointer-events: none;
    }
    @include border-radius();
  }
}

// .container {
//   background-image: linear-gradient(134deg, #0540c8 0%, #8a3ffc 100%);
//   height: 100%;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     -webkit-box-pack: justify;
//     -ms-flex-pack: justify;
//     justify-content: space-between;
//     margin: 0 0.5rem;
//     max-width: 13.5rem;
//     min-width: 13.5rem;
//     padding: 1rem;
// }

.content {
  display: flex;
  flex-direction: column;
  line-height: 1rem;
  margin-left: auto;
  &:focus {
    outline: none;
  }
}

.image {
  color: var(--cds-text-primary);
  filter: saturate(0);
  height: 1.5rem;
  margin-bottom: 0.5rem;
  width: 1.5rem;
}

.name {
  color: var(--cds-text-primary);
  font-size: var(--cds-heading-01-font-size, 0.875rem);
  font-weight: var(--cds-heading-01-font-weight, 600);
  line-height: var(--cds-heading-01-line-height, 1.42857);
  letter-spacing: var(--cds-heading-01-letter-spacing, 0.16px);
  margin-bottom: 0.5rem;
  text-align: left;
  @include multiline-text-overflow-ellipsis();
}

.description {
  color: var(--cds-text-primary);
  text-align: left;
  font-size: var(--cds-body-long-01-font-size, 0.875rem);
  font-weight: var(--cds-body-long-01-font-weight, 400);
  line-height: var(--cds-body-long-01-line-height, 1.42857);
  letter-spacing: var(--cds-body-long-01-letter-spacing, 0.16px);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctaIcon {
  right: 1rem;
  width: 1.125rem;
}

.tag {
  background-color: #20d5d2;
}
