@import "~codemirror/addon/hint/show-hint.css";

.CodeMirror {
  height: 36rem;
}

.CodeMirror-hints.material {
  z-index: 1001;
}

.b-task-text-area {
  display: flex;
  margin-bottom: 0.5rem;
  .b-task-text-area__language-dropdown {
    min-width: 15rem;
    margin: 0.125rem;
    margin-left: auto;
    .bx--list-box__field {
      background-color: initial !important;
    }
  }
  .bx--search {
    width: 20rem;
  }

  .bx--list-box__field {
    height: 2.625rem !important;
  }
}
