@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";

.c-tooltip {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: auto;
  height: auto;
  color: $dark-gray;
  border: solid $gray-20 1px;
  border-radius: 0.325rem;
}
.b-tooltip--data {
  text-align: start;
  margin: 1rem;
  word-wrap: break-word;
}
.b-tooltip--field {
  font-weight: bold;
}
