@import "~Styles/mixins";

.bx--modal-footer .bx--btn:last-child:first-child {
  border-bottom-left-radius: 0;
}

.b-startEnd-node {
  background: #002b50;
  width: 9rem;
  height: 5rem;
  position: "relative";
  display: flex;
  justify-content: center;
  align-items: center;
  @include border-radius();

  &.--locked {
    background: #697077;
    height: 2.875rem;
    width: 5rem;
    margin: 1rem 0 1.125rem 0;
    .b-startEnd-node__port {
      &.--right {
        background-color: #50565b;
        border: 0.0625rem solid #50565b;
        right: -1.9375rem;
      }
      &.--left {
        background-color: #d5d9e0;
        border: 0.0625rem solid #50565b;
        left: -1.9375rem;
      }
    }

    &.--executionInProgress {
      .b-startEnd-node__port {
        &.--left {
          opacity: 0.5;
        }
      }
    }
  }

  .b-startEnd-node__title {
    text-align: center;
    color: var(--cds-ui-01);
  }

  .b-startEnd-node__port {
    position: absolute;
    height: 2.25rem;
    width: 2rem;

    &.--right {
      background-color: var(--cds-interactive-01);
      border: 0.0625rem solid var(--cds-interactive-01);
      right: -2rem;
      top: 1.25rem;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      background-image: url("~Assets/icons/chevron_white.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &.--left {
      background-color: #b3e6ff;
      border: 0.0625rem solid var(--cds-interactive-01);
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      left: -2rem;
      top: 1.25rem;
      background-image: url("~Assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &:hover {
      filter: brightness(110%);
    }

    &.--locked:hover {
      filter: brightness(100%);
    }
  }
}
