@import "~Styles/mixins";

.container {
  h1 {
    margin: 0 0 0.5rem 0;
  }
}

.teamButtons {
  align-items: center;
  bottom: 1.5rem;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  position: absolute;
  right: 2rem;
  z-index: 1;
}
.status {
  align-items: center;
  display: flex;
  font-size: 1rem;
}
.subtitle {
  align-items: center;
  display: flex;
}
.statusDivider {
  margin: 0 1rem;
}
.statusText {
  font-size: 1rem;
}
