@import "~Styles/variables";

.c-display-form {
  .bx--bmrg-text-input,
  .bx--bmrg-select,
  .bx--bmrg-multi-select {
    padding-bottom: 2.125rem;
  }

  .bmrg--b-textarea__text {
    cursor: pointer;
  }
}

.b-display-form__inputs {
  display: flex;
  flex-direction: column;
  height: 26rem;
  justify-content: flex-start;
  margin: auto;
  max-width: 35rem;
  overflow-y: auto;
  width: 100%;
}

.b-settings-toggle {
  display: flex;
  padding: 1rem;
  position: relative;
  align-items: baseline;
}

.b-setting-toggle__info {
  margin-left: 1.6875rem;
}
.b-settings-toggle__label {
  color: $darkest-gray;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.03125rem;
  line-height: 1.6875rem;
}

.b-settings-toggle__description {
  display: block;
  color: $darkest-gray;
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  line-height: 0.875rem;
}
