.container {
  h1 {
    margin: 0;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 300;
  }

  :global .bx--search-input {
    background: var(--cds-ui-background);
    font-size: 0.875rem;
    height: 3rem;
  }
  :global .b-search-filter {
    align-items: flex-end;
    align-self: flex-end;
    width: 36rem;
  }

  :global .b-search-filter__filter {
    font-size: 0.875rem;
    .bx--list-box {
      background-color: var(--cds-ui-background) !important;
      max-height: none !important;
    }

    .bx--list-box__menu {
      background-color: var(--cds-ui-background);
    }
    .bx--list-box__menu-item {
      background: var(--cds-ui-background);
    }
    .bx--list-box__menu-item--highlighted {
      background: var(--cds-ui-background);
    }
  }
}

.filterContainer {
  align-items: flex-end;
  display: flex;
  margin-bottom: 1.5rem;
}

.search {
  flex: 1 1 auto;
  margin-right: 2rem;

  & .bx--search--lg.bx--search-input {
    height: 2.75rem !important;
  }
}

.filter {
  width: 15rem;
  :global .bx--list-box {
    background: var(--cds-ui-background);
  }
}
