.code {
  background-color: transparent;
  border-radius: 0.1875rem;
  font-family: "IBM Plex Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.75rem;
  overflow: auto;
  word-break: break-all;
  padding: 0.2em 0.4em;
  word-wrap: normal;
}
