@import "Styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  //height: 10.5rem;
  justify-content: space-between;
  padding-bottom: 0rem !important;
  position: sticky;
  top: 0;
  z-index: 10;
}

.breadcrumbContainer {
  height: 1.5rem;
}

.headerSubtitle {
  display: flex;
}

.status {
  align-items: center;
  display: flex;
  font-size: 1rem;
}
.statusDivider {
  margin: 0 1rem;
}
.statusText {
  font-size: 1rem;
}

.removedUserDetail {
  color: var(--cds-inverse-support-01);
  font-size: 0.8rem;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userDetailsContainer {
  align-self: flex-end;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.actionButtonsContainer {
  align-items: baseline;
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.subHeaderContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  & > * + * {
    margin-left: 2.5rem;
  }
}

.dataTitle {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.125rem;
  margin-bottom: 0.25rem;
}

.dataValue {
  font-size: 1rem;
  line-height: 1.25rem;
  max-width: 16rem;
  text-transform: capitalize;
  @include text-overflow-ellipsis();
}

.userContainer {
  margin: 1rem 0 1rem 0;
  max-width: calc(100% - 30rem);

  :global .cds--bmrg-avatar {
    path {
      fill: var(--cds-text-01);
    }
  }
}
