@import "~Styles/animation";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.content {
  height: 100%;
  overflow-y: auto;
  padding: 0rem 2rem 2rem;
}

.loadingContainer {
  margin-top: 2.5rem;
  width: 100%;
}

.cardPlaceholderContainer {
  display: flex;
}

.cardPlaceholder {
  width: 19.375rem;
  height: 10.31255rem;
  margin: 1rem 1.5rem 1rem 0rem;
}
