.c-inputs-modal-body {
  display: flex;
  width: 80%;
  margin: auto;
  height: 24rem;
}

.c-inputs-modal-body-left {
  width: 60%;
  padding-right: 5%;
}

.c-inputs-modal-body-right {
  width: 40%;
}

.b-inputs-modal-type,
.b-inputs-modal-select,
.b-inputs-modal-text {
  margin-bottom: 1rem;
}
