@import "~Styles/variables";

.b-switch-config {
  min-height: 5rem;
  padding-top: 1rem;
  display: flex;
}

.b-switch-config__explanation {
  margin-left: 1rem;
}

.b-switch-customvalue {
  min-height: 13rem;
}

.s-switch-customvalue-desc {
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
}

.s-switch-customvalue-wildcard {
  padding-top: 0.5rem;
}
