.container {
  display: flex;
  height: 100%;
  min-width: 960px;
  overflow-y: auto;
  width: 100%;
}
.wombat {
  display: flex;
  flex-direction: column;
  height: 21rem;
  margin-top: 5rem;
  width: 100%;
}
