@import "~Styles/variables";
@import "~@boomerang/boomerang-styles/lib/colors";

.c-workflow-diagram-execution {
  .node.srd-node {
    cursor: initial;
  }
}

.b-task-node {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightest-gray;
  border-radius: 0.25rem;
  width: 16rem;
  height: 8rem;
  position: relative;
  border: 1px solid $teal-20;

  .b-task-node__progress-bar {
    display: none;
  }

  &.--completed {
    border-top: 0.625rem solid $green;
  }
  &.--failure {
    border-top: 0.625rem solid $fail-red;
  }
  &.--notstarted {
    border-top: 0.625rem solid $pale-slate;
  }
  &.--skipped {
    border-top: 0.625rem solid $status-yellow;
  }
  &.--inProgress {
    border-top: 0.625rem solid $ongoing-blue;

    .b-task-node__progress-bar {
      position: absolute;
      display: block;
      height: 0.625rem;
      top: -0.625rem;
      left: 0;
      transition: width 0.3s linear;
      width: 16rem;
      overflow: hidden;
      border-radius: 0.5rem 0.5rem 0 0;

      &:before {
        content: "";
        position: absolute;
        background-color: $executing-blue;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      }

      &:after {
        content: "";
        position: absolute;
        background-color: $executing-blue;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: 1.15s;
      }
    }
  }

  .b-task-node__tile {
    text-align: center;
    font-weight: 400;
    color: $dark-blue;
    letter-spacing: 0.1675rem;
  }

  .b-task-node-port {
    position: absolute;
    height: 2.25rem;
    width: 2rem;

    &.--right {
      background-color: $teal;
      right: -2rem;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      background-image: url("../../assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &.--left {
      background-color: $teal-10;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      left: -2rem;
      background-image: url("../../assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &:hover {
      filter: brightness(110%);
    }
  }

  .b-task-node__img {
    bottom: 1rem;
    position: absolute;
    left: 1.5rem;
    pointer-events: none;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
