@import "~Styles/variables";

.b-editswitch-button__img {
  cursor: pointer;
}

.bmrg--c-modal {
  position: relative;
  max-height: 44.375rem;
  height: 100vh;
  max-width: 55.625rem;
  width: 100vw;
  outline: none;
  border-radius: 0.25rem;
  &.--full-screen {
    max-height: 100vh;
    max-width: 100vw;
  }
}

.bmrg--c-modal-overlay {
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 39, 39, 0.5);
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content {
  opacity: 0.01;
  &.ReactModal__Content--after-open {
    &.bmrg--c-modal {
      background-color: #fbfcfc;
      color: #272727;
    }
  }
}

.ReactModal__Content--after-open {
  background-color: #fbfcfc;
  color: #272727;
  opacity: 0.99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 150ms ease-out;
  &.bmrg--c-modal {
    background-color: #fbfcfc;
    color: #272727;
  }
}

.ReactModal__Content--before-close {
  opacity: 0.01;
}

.b-default {
  display: flex;
}

.ReactModalPortal {
}
