@import "~Styles/variables";

.b-editswitch-button__img {
  cursor: pointer;
}

foreignObject .bmrg--b-close-modal {
  top: 0.25rem;
  right: 0.25rem;
}

.s-small-text {
  font-weight: 300;
  letter-spacing: 0.03125rem;
}
