@import "Styles/mixins";

.container {
  height: 1.5rem;
  width: 1.5rem;
  opacity: inherit;

  &.designer {
    cursor: pointer;
    &:focus {
      @include focus-outline(var(--cds-interactive-01), 0rem);
    }
  }

  &.execution {
    circle {
      stroke: var(--cds-text-01);
    }
    path {
      fill: var(--cds-text-01) !important;
    }
  }

  &.success {
    path {
      fill: #0da29f;
    }
  }

  &.failure {
    path {
      fill: #a2191f;
    }
  }

  &.always {
    path {
      fill: var(--cds-text-01);
    }
  }
}
