@import "~@boomerang/boomerang-styles/lib/colors";

.container {
  align-items: flex-start;
  background: $white;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3; //min needed, 99 puts is above the sidenav
}
.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info {
  overflow: hidden;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin: 0rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  text-overflow: wrap;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  button {
    margin-top: 1rem;
  }
}
