@import "Styles/animation";
@import "Styles/mixins";

.container {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.header {
  padding: 1rem 2rem 0;
}

.headerTitle {
  margin: 0;
}

.headerSummary {
  align-items: center;
  display: flex;
  margin: 0.5rem 2.125rem 1.5625rem 0;
}

.headerSummaryText {
  color: var(--cds-text-01);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5625rem;
}

.headerSummarySkeleton {
  width: 25rem;
  height: 4rem;
}

.content {
  height: calc(100vh - 10rem);
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filtersContainer {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 1.5rem;

  :global .bx--form-item {
    flex-grow: 0;
  }
}

.dataFilters {
  margin-bottom: 1rem;
  display: flex;
  > * + * {
    margin-left: 1.4rem;
  }
}

.dataFilter {
  width: 15.875rem;
}

.contentContainer {
  display: flex;
  width: 100vw;
  flex-grow: 1;
}

.listContainer {
  background: var(--cds-layer);
  width: 30rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;

  h2 {
    font-size: 1.25rem;
  }
}

.calendarContainer {
  flex-grow: 1;
  padding: 0 2rem 0;
  z-index: 0;
}

.listItem {
  background: var(--cds-ui-background);
  border-radius: 0.25rem;
  min-height: 8rem;
  margin: 1rem 0rem;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9375rem;

  dt {
    font-size: 0.75rem;
  }
  dd {
    font-size: 0.875rem;
  }
}

.listItemTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 90%;

  h3 {
    font-size: 1rem;
    font-weight: bold;
    @include text-overflow-ellipsis();
  }
}

.listItemDescription {
  @include multiline-text-overflow-ellipsis();
  max-width: 90%;
}

.listItemLabels {
  display: flex;
  max-width: 90%;
}

.statusCircle {
  &[data-status="active"] {
    fill: var(--cds-support-success);
  }
  &[data-status="inactive"] {
    fill: var(--cds-text-03);
  }
  &[data-status="deleted"] {
    fill: var(--cds-support-error);
  }
}

.detailsSection {
  display: flex;
  flex-direction: column;
  height: 100%;

  section {
    margin: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px var(--cds-ui-04) solid;
  }

  footer {
    margin-top: auto;
    width: 100%;
    button {
      border-radius: 0;
      width: 50% !important;
    }
  }
}
