@import "~Styles/variables";
@import "~@boomerang/boomerang-styles/lib/colors";

.b-navigation-links {
  position: relative;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: $lighter-gray;
}

.b-navigation-links__link {
  color: black;
  padding-bottom: 0.325rem;
  margin-right: 2rem;

  &.--active {
    border-bottom: 2px solid $gray-90;
    font-weight: 500;
  }
}
