@import "~Styles/variables";
@import "~@boomerang/boomerang-styles/lib/colors";

.b-navigation-links {
  position: relative;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
}

.b-navigation-links__link {
  border-bottom: 2px solid #b9bfc7;
  color: $text-01;
  font-size: 0.875rem;
  letter-spacing: 0.16px;
  line-height: 1.125rem;
  padding: 0 1.75rem 0.625rem;

  &.--active {
    border-bottom: 2px solid $support-02;
    font-weight: 600;
  }
}
