.container {
  height: calc(100vh - 13.65rem) !important;
  overflow: scroll;
  padding: 1.5rem 2rem;

  :global .bx--bmrg-error-page {
    width: 100%;
  }

  :global .bx--structured-list {
    max-width: 100rem;
  }

  :global .bx--structured-list-td {
    line-height: 1rem;
    padding: 1rem 1rem;
  }
}

.manageOwnershipCell {
  position: relative;

  :global .bx--dropdown__wrapper--inline {
    position: absolute;
    top: 0.5rem;
  }
}

.actionsContainer {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;

  :global .bx--search {
    max-width: 24rem;
  }
}

.leftActions {
  min-width: 24rem;
}

.workflowCountText {
  color: var(--cds-text-01);
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
}

.featureDescription {
  color: var(--cds-text-01);
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 1.375rem;
}

.roleTrigger {
  color: var(--cds-text-01);
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  font-weight: 600;

  :global .bx--tooltip__trigger {
    margin-left: 0.5rem;
  }
}

.workflowNameContainer {
  align-items: center;
  display: flex;

  :global .bx--bmrg-avatar {
    margin-right: 1rem;
    position: absolute;
    path {
      fill: var(--cds-text-01);
    }
  }

  p {
    color: var(--cds-text-01);
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-left: 3rem;
    margin-right: 0.5rem;
  }

  svg {
    fill: var(--cds-support-02);
  }
}

.viewWorkflowLink {
  color: var(--cds-interactive-01);
  font-size: 0.75rem;
}
