@import "~@boomerang/boomerang-styles/lib/colors";

.c-modal-task-log {
  max-width: 70rem;
  max-height: 50rem;

  .bmrg--c-modal-flow-content {
    margin-bottom: 2rem;
  }
}

.s-task-log-trigger {
  cursor: pointer;
  color: $cerulean-40;
}

.c-task-log-viewer {
  height: 30rem;
}

.react-lazylog {
  ::-webkit-scrollbar {
    display: initial;
    height: 15px;
    width: 15px;
  }

  ::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: $gray-20;
    opacity: 0.3;
    border: 5px solid transparent;
    border-radius: 10px;
    min-height: 20px;
    min-width: 20px;
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:active {
    background-color: $gray-20;
    opacity: 0.4;
  }
  padding: 1rem 1rem 1rem 0rem;
  a {
    width: 1.25rem;
    min-width: 1.25rem;
    margin-right: 0.5rem;
  }
}
