@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/mixins";
@import "~Styles/variables";

.container {
  .dropzoneSection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .dropzone {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .dropzoneButton {
    width: 100%;
    max-width: 100%;
  }

  .importDropzone {
    display: flex;
    height: 4rem;
    position: absolute;
    top: 6.375rem;
    width: 100%;
    z-index: 1;
  }

  .dropzoneError {
    align-items: center;
    background-color: $white;
    border: 0.0625rem solid var(--cds-interactive-01);
    @include border-radius();
    color: var(--cds-interactive-01);
    cursor: pointer;
    display: flex;
    font-size: 1.125rem;
    font-weight: 500;
    height: 2.5rem;
    letter-spacing: 0.1875rem;
    justify-content: center;
    transition: transform 0.1s ease-out;
    width: 100%;
    z-index: 1;

    &:hover {
      background-color: var(--cds-interactive-01);
      color: $white;
    }
  }

  .dropzoneImg {
    height: 2.5rem;
    width: 2.5rem;
    z-index: 1;
  }

  .dragEnter {
    align-items: center;
    background-color: transparent;
    border: 0.063rem dashed var(--cds-interactive-01);
    display: flex;
    height: 4rem;
    justify-content: center;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.063rem;
    line-height: 1.125rem;
    margin-top: 0;
    width: 100%;
    opacity: 1;
  }

  .dropzoneCenter {
    margin-top: 0.625rem;
    width: 100%;
    z-index: 1;
  }

  .dropzoneLeft {
    padding: 0 1.25rem 0 0;
  }

  .dropzoneRight {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 1.5rem;
    justify-content: space-around;
    margin-top: 0.625rem;
    width: 1.5rem;
    z-index: 1;
  }

  .dropzoneCloseImg {
    height: 1.5rem;
    width: 1.5rem;
    z-index: 1;
  }

  .dropzoneMessage {
    font-size: 0.875rem;
    padding: 0.313rem 0 0 0;
    z-index: 999;
  }
}
