@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";

.b-cron-fieldset {
  height: 100%;
  margin-top: 2rem;
}

.b-cron-fieldset__message {
  font-size: 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 0.375rem;

  &.--error {
    color: $red;
  }
}
.b-timezone {
  position: relative;
}

.b-cronModal__infoIcon {
  height: 1.25rem;
  position: absolute;
  right: -1.5rem;
  top: 2rem;
}

.b-cron {
  min-height: 8rem;
  max-height: 10rem;
}
.c-cron-advanced {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  .bx--list-box__field {
    width: 23rem;
  }
}
.b-advanced-cron__toggle {
  margin-bottom: 1rem;
}
