@import "~Styles/variables";

.container {
  background-color: $ui-background !important;
  height: 100%;
  width: 100%;
}

.executionResultContainer {
  display: flex;
  height: calc(100vh - 10.3125rem);
}

.executionDesignerContainer {
  display: flex;
  flex-grow: 1;
  position: relative;

  svg:not(:root) {
    overflow: visible !important;
  }
}

.diagram {
  margin-top: 3.5rem;
}

.executionWorkflowActions {
  background-color: $ui-background;
  border-bottom: 0.0625rem solid #b9bfc7;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  position: absolute;
  width: 100%;
}
