.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3rem);
  margin: 0 auto;
  width: 100%;
}

.content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0rem 2rem 2rem;
}
