@import "~Styles/animation";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  transition: max-height $carbon-motion--timing--productive $carbon-motion--easing--productive;
  width: 100%;
}

.content {
  height: calc(100vh - 10.3125rem);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0rem 2rem 2rem;
}

.loadingContainer {
  margin-top: 2.5rem;
  width: 100%;
}

.cardPlaceholderContainer {
  display: flex;
}

.cardPlaceholder {
  width: 19.375rem;
  height: 10.31255rem;
  margin: 1rem 1.5rem 1rem 0rem;
}
