@import "~@boomerang/boomerang-styles/lib/colors";

.c-workflow-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  .bmrg--b-button {
    margin-right: 1rem;
  }

  .bmrg--b-tooltip.--bmrg-flow {
    border: 0rem;
    margin-top: 0.625rem;
  }
}
.c-workflow-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-workflow-section__team {
  margin-left: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0rem;
  letter-spacing: 0.0625rem;
}
.b-workflow-section__button {
  margin-right: 1rem;
}
.c-workflow-section__workflows {
  display: flex;
  flex-wrap: wrap;
}

.b-workflow-placeholder {
  border: none;
  background: none;
  cursor: pointer;
  margin: 1rem 0.75rem;
  padding: 0rem;
}

.b-workflow-placeholder__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 9.325rem;
  border-radius: 0.25rem;
  border: 0.0625rem dashed $cool-gray-20;
  position: relative;
}

.b-workflow-placeholder__plus {
  height: 3rem;
  width: 3rem;
  fill: $gray-30;
}
