@import "~@boomerang/boomerang-styles/lib/colors";

.c-workflow-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  .bmrg--b-button {
    margin-right: 1rem;
  }

  .bmrg--b-tooltip.--bmrg-white {
    border: 0rem;
    margin-top: 0.625rem;
  }
}
.c-workflow-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.b-workflow-section__team {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.b-workflow-section__button {
  margin-right: 1rem;
}
.c-workflow-section__workflows {
  display: flex;
  flex-wrap: wrap;
}

.b-workflow-placeholder {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 1rem;
}

.b-workflow-placeholder__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 9.325rem;
  border-radius: 0.25rem;
  border: 1px dashed $cool-gray-20;
}

.b-workflow-placeholder__text {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 200;
  color: $cool-gray-50;
}
