@import "~@boomerang/boomerang-styles/lib/colors";

.taskitem {
  height: 12.5rem;
  width: 100%;

  &.completed {
    border-top: 0.25rem solid #009c98;
  }

  &.failure {
    border-top: 0.25rem solid #a51920;
  }

  &.inProgress,
  &.notstarted,
  &.invalid,
  &.skipped {
    border-top: 0.25rem solid #d5d9e0;
  }

  &:last-of-type {
    border-bottom: 0.0625rem solid #d5d9e0;
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1.25rem 1rem 0.25rem 1rem;
}

.title {
  align-items: center;
  color: $gray-90;
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;
  white-space: nowrap;
}

.taskIcon {
  height: 1rem;
  margin-right: 0.5rem;
  width: 1rem;
}

.status {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  line-height: 1rem;
  white-space: nowrap;

  &.completed {
    color: #009c98;
    path {
      fill: #009c98;
    }
  }

  &.failure {
    color: #a51920;
    path {
      fill: #a51920;
    }
  }

  &.inProgress,
  &.notstarted,
  &.invalid,
  &.skipped {
    color: #6f7878;
    path {
      fill: #6f7878;
    }
  }
}

.statusIcon {
  height: 1rem;
  margin-right: 0.5rem;
  width: 1rem;
}

.data {
  margin-left: 2.5rem;
  white-space: nowrap;
}

.subtitle {
  color: $gray-90;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  margin-bottom: 1.5rem;
}

.time {
  display: flex;
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 1.5rem;
  }
}

.timeTitle {
  color: $gray-90;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.125rem;
  width: 4.8125rem;
}

.timeValue {
  color: $gray-90;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
