@import "~@boomerang/boomerang-styles/lib/colors";
@import "~@boomerang/boomerang-styles/lib/base";
@import "~Styles/mixins";
@import "~Styles/variables";

.s-task-log-trigger {
  color: var(--cds-interactive-01);
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-right: 1.5rem;

  &:focus {
    @include focus-outline();
  }
}

.c-modal-task-log {
  max-width: 70rem;
  max-height: 50rem;

  h1 {
    margin: 0;
  }

  .bx--modal-content {
    height: 100%;
  }

  .bmrg--b-modal-flow-header {
    margin: 1.875rem auto;
  }

  .bmrg--c-modal-flow-content {
    margin-bottom: 2rem;
  }

  .react-lazylog-searchbar {
    padding: 0.625rem;
    font-family: $font-family;
  }

  .react-lazylog-searchbar-input {
    border-radius: 0.125rem;
    color: white;
    letter-spacing: 0.0625rem;
    font-family: $font-family;
    font-size: 0.75rem;
    &:active {
      outline: none;
    }
  }

  .react-lazylog-searchbar-matches {
    color: white;
    font-family: $font-family;
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
    min-width: 80px;
  }

  .react-lazylog {
    color: white;
    padding: 1rem 1rem 1rem 0;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.75rem;
    line-height: 1.5;
  }

  .b-task-log-toggle {
    align-items: center;
    display: flex;
    position: absolute;
    line-height: 1.5;
    right: 345px;
  }

  .b-task-log-toggle__text {
    color: white;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    margin-right: 0.5rem;
    white-space: nowrap;
    &.--disabled {
      opacity: 0.5;
    }
  }
}
