@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";

.search {
  margin-bottom: 1.31rem;
  width: 20rem;
}

.tableContainer {
  margin: 2.5rem 2.5rem 4.5rem 2.5rem;
}

.tableHeadHeader {
  color: $tab-blue;
  font-size: inherit;
  font-family: inherit;
  height: 3rem;

  button {
    width: 100% !important;
  }

  &.label {
    width: 20%;
  }

  &.key {
    width: 20%;
  }

  &.description {
    width: 25%;
  }

  &.value {
    width: 25%;
  }

  &.secured {
    width: 5%;
  }
}

.tableHeadRow {
  background-color: $cool-white-1;
}

.tableBody {
  background-color: #f2f2f2;
  color: $darkest-gray;
  font-weight: 300;
}

.tableCell {
  align-items: center;
  display: flex;
  height: 3.625rem;
  line-height: 1.2;
  overflow-y: auto;
  padding-left: 0.75rem;
  width: 100%;

  .tableSecured {
    height: 1.25rem;
    width: 1.25rem;
  }

  .secured {
    path {
      fill: $green-50;
    }
  }

  .unsecured {
    path {
      fill: $red-50;
    }
  }
}

.tableTextarea {
  background: inherit;
  color: $black;
  margin-left: 0.25rem;
  max-width: 100%;
  resize: none;
  text-align: left;
  white-space: normal;
  width: 90%;
  word-break: break-all;
}
