.container {
  path {
    stroke: var(--flow-switch-primary);
  }
}

.deleteButton {
  circle {
    stroke: var(--flow-switch-primary);
  }
}

.img {
  cursor: pointer;
}

.text {
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.03125rem;
}
