@import "~@boomerang/boomerang-styles/lib/colors";

.c-workflow-activity {
  margin: 0 auto;
  max-width: 100rem;

  .c-simple-select-filter {
    margin-left: 1rem;
  }

  .bx--select-input {
    width: 12rem;
  }

  .b-search-filter {
    width: auto;
    margin-left: 1rem;
  }
  .b-search-filter__search {
    display: none;
  }

  .bx--select {
    background-color: $teal-20;
    border-radius: 0.25rem;
    box-shadow: none;
    cursor: pointer;
    height: 2.625rem;
    max-height: 2.625rem;
    &::before {
      content: url("~Assets/svg/configure.svg");
      position: absolute;
      height: 2rem;
      width: 2rem;
      right: 1rem;
      top: 0.2rem;
    }
    select {
      box-shadow: none;
    }
    .bx--select-input {
      background-color: $teal-20;
      border-radius: 0.25rem;
      box-shadow: none;
      text-overflow: ellipsis;
    }
    .bx--select-optgroup {
      background-color: $white;
      box-shadow: none;
    }
    .bx--select-option {
      background-color: $white;
      font-size: 0.875rem;
    }
  }
  .bx--list-box {
    background-color: $teal-20;
    border-radius: 0.25rem;
    box-shadow: none;
    cursor: pointer;
    height: 2.625rem;
    max-height: 2.625rem;
    width: 12rem;
    margin-left: 1rem;

    &::before {
      content: url("~Assets/svg/configure.svg");
      position: absolute;
      height: 2rem;
      width: 2rem;
      right: 1rem;
      top: 0.2rem;
    }
  }

  .bx--list-box__field {
    appearance: none;
    width: 12rem;
    &:focus {
      box-shadow: none;
    }
  }

  .bx--list-box__selection--multi {
    background-color: $gray-90;
    &:hover {
      background-color: $gray-90;
    }
  }

  .bx--list-box__menu-icon,
  .bx--select__arrow {
    display: none;
    z-index: 1;
  }

  .bx--list-box__menu {
    min-width: 12rem;
    width: max-content;
    max-width: 15rem;
    background-color: $white;
    height: auto;
    max-height: unset;
    right: 0;
    left: unset;
  }

  .bx--list-box__menu-item--highlighted {
    background: $cool-gray-1;
    text-decoration: none;
  }

  .bx--list-box__menu-item--active {
    .bx--checkbox-label::before {
      background-color: $teal-20 !important;
      border-color: $teal-20 !important;
    }
  }
}

.c-workflow-activity-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  max-width: 100rem;
  width: 100%;
}
.c-workflow-activity-header {
  margin-top: 1rem;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  width: 55rem;

  & .b-search-filter__search {
    margin-right: 0rem;
  }
}

@media (max-width: 32rem) {
  .c-workflow-activity-header {
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 100%;

    & .b-search-filter__search {
      margin: 0rem;
      padding-top: 1rem;
    }
  }
}

.s-workflow-activity-navigation {
  margin-top: 1rem;
  align-self: flex-start;
}
