@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/mixins";

.c-workflow-activity {
  margin: 0 auto;
  max-width: 100rem;
  position: relative;

  .c-simple-select-filter {
    margin-left: 1rem;
  }

  .b-search-filter {
    width: auto;
    margin-left: 1rem;
  }
  .b-search-filter__search {
    display: none;
  }

  .bx--select {
    background-color: $teal-20;
    border-radius: 0.25rem;
    box-shadow: none;
    cursor: pointer;
    height: 2.625rem;
    max-height: 2.625rem;
    // &::before {
    //   content: url("~Assets/svg/configure.svg");
    //   position: absolute;
    //   height: 2rem;
    //   width: 2rem;
    //   right: 1rem;
    //   top: 0.2rem;
    // }
    select {
      box-shadow: none;
    }
    .bx--select-input {
      background-color: $teal-20;
      border-radius: 0.25rem;
      box-shadow: none;
      text-overflow: ellipsis;
    }
    .bx--select-optgroup {
      background-color: $white;
      box-shadow: none;
    }
    .bx--select-option {
      background-color: $white;
      font-size: 0.875rem;
    }
  }
  .bx--list-box {
    background-color: $teal-20;
    border-radius: 0.25rem;
    box-shadow: none;
    cursor: pointer;
    height: 2.625rem;
    max-height: 2.625rem;
    width: 14rem;
    margin-left: 1rem;

    // &::before {
    //   content: url("~Assets/svg/configure.svg");
    //   position: absolute;
    //   height: 2rem;
    //   width: 2rem;
    //   right: 1rem;
    //   top: 0.2rem;
    // }
  }

  .bx--list-box__field {
    appearance: none;
    width: 14rem;
    &:focus {
      box-shadow: none;
    }
  }

  .bx--list-box__label {
    @include text-overflow-ellipsis();
  }

  .bx--list-box__selection--multi {
    background-color: $gray-90;
    &:hover {
      background-color: $gray-90;
    }
  }

  .bx--list-box__menu {
    width: 14rem;
    max-width: 14rem;
    background-color: $white;
    max-height: 20rem;
    right: 0;
    left: unset;
  }

  .bx--list-box__menu-item {
    height: fit-content;
    min-height: 2.5rem;
  }

  .bx--list-box__menu-item--highlighted {
    background: $cool-gray-1;
    text-decoration: none;
  }

  .bx--list-box__menu-item--active {
    .bx--checkbox-label::before {
      background-color: $teal-20 !important;
      border-color: $teal-20 !important;
    }
  }
}

.c-workflow-activity-content {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem 2rem;
  max-width: 100rem;
  width: 100%;
}
.c-workflow-activity-header {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;

  & .b-search-filter__search {
    margin-right: 0rem;
  }
}

@media (max-width: 48rem) {
  .c-workflow-activity-header {
    flex-direction: column;
    align-items: flex-end;
    height: 15rem;
    width: 100%;

    & .b-search-filter__search {
      margin: 0rem;
      padding-top: 1rem;
    }
  }
}

.s-workflow-activity-navigation {
  margin-top: 2rem;
  position: absolute;
  left: 2rem;
}
