.c-workflow-activity {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100rem;
}

.c-workflow-activity-content {
  padding: 2rem 1rem 1rem 1rem;
  max-width: 100rem;
  width: 100%;
}

.s-workflow-activity-navigation {
  margin-top: 1rem;
  align-self: flex-start;
}
