@import "~ibm-design-colors";

.c-onboard-wrapper {
  align-items: center;
  background-color: color("gray", 90, $alpha: 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  transition: background-color 0.5s ease;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.c-onboard-wrapper--transparent {
  background-color: color("gray", 90, $alpha: 0.1);
}
