@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/mixins";

.c-workflow-insights {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  .c-legend {
    margin-top: 1rem;
  }
  // .b-search-filter {
  //   margin-right: 2rem;
  // }
  .bx--list-box {
    background-color: $teal-20;
    border-radius: 0.25rem;
    box-shadow: none;
    cursor: pointer;
    height: 2.625rem;
    max-height: 2.625rem;
    width: 12rem;
    margin-left: 1rem;

    &::before {
      content: url("~Assets/svg/configure.svg");
      position: absolute;
      height: 2rem;
      width: 2rem;
      right: 1rem;
      top: 0.2rem;
    }
  }

  .bx--list-box__field {
    appearance: none;
    width: 11rem;
    &:focus {
      box-shadow: none;
    }
  }

  .bx--list-box__label {
    @include text-overflow-ellipsis();
  }

  .bx--list-box__selection--multi {
    background-color: $gray-90;
    &:hover {
      background-color: $gray-90;
    }
  }

  .bx--list-box__menu {
    min-width: 12rem;
    width: max-content;
    background-color: $white;
    height: auto;
    max-height: unset;
    right: 0;
    left: unset;
  }

  .bx--list-box__menu-item--highlighted {
    background: $cool-gray-1;
    text-decoration: none;
  }

  .bx--list-box__menu-item--active {
    .bx--checkbox-label::before {
      background-color: $teal-20 !important;
      border-color: $teal-20 !important;
    }
  }
}
.c-workflow-insights-header {
  margin-top: 2rem;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  width: 40rem;

  & .b-search-filter__search {
    margin-right: 0rem;
  }
}

@media (max-width: 32rem) {
  .c-workflow-insights-header {
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 100%;

    & .b-search-filter__search {
      margin: 0rem;
      padding-top: 1rem;
    }
  }
}
.s-workflow-insights-navigation {
  position: absolute;
}

.c-workflow-insights-stats-widgets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2rem;
}
.c-workflow-insights-graphs-widgets {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 50rem) {
  .c-workflow-insights-graphs-widgets {
    justify-content: initial;
  }
}

.b-workflow-insights__stats-label,
.b-workflow-insights__graphs-label {
  display: flex;
  height: 13rem;
  width: 23rem;
  justify-content: center;
  align-items: center;
  color: $gray-90;
  font-size: 5rem;
  font-weight: 500;
  line-height: 6.5rem;
  text-align: center;
  &.--no-data {
    width: auto;
    align-self: center;
    font-size: 2.5rem;
    line-height: 6.5rem;
  }
}
