@import "~@boomerang/boomerang-styles/lib/colors";

.c-workflow-insights {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin: 0 auto;
  .c-legend {
    margin-top: 1rem;
  }
  // .b-search-filter {
  //   margin-right: 2rem;
  // }
}
.c-workflow-insights-header {
  margin-top: 2rem;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  width: 40rem;

  & .b-search-filter__search {
    margin-right: 0rem;
  }
}

@media (max-width: 32rem) {
  .c-workflow-insights-header {
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 100%;

    & .b-search-filter__search {
      margin: 0rem;
      padding-top: 1rem;
    }
  }
}
.s-workflow-insights-navigation {
  margin-top: 2rem;
  align-self: flex-start;
}

.c-workflow-insights-stats-widgets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2rem;
}
.c-workflow-insights-graphs-widgets {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 50rem) {
  .c-workflow-insights-graphs-widgets {
    justify-content: initial;
  }
}

.b-workflow-insights__stats-label,
.b-workflow-insights__graphs-label {
  display: flex;
  height: 13rem;
  width: 23rem;
  justify-content: center;
  align-items: center;
  color: $gray-90;
  font-size: 5rem;
  font-weight: 500;
  line-height: 6.5rem;
  text-align: center;
  &.--no-data {
    width: auto;
    align-self: center;
    font-size: 2.5rem;
    line-height: 6.5rem;
  }
}
