@import "~@boomerang/boomerang-styles/lib/colors";

.b-workflow-inputs-modal-toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.b-workflow-inputs-modal-toggle__title {
  font-size: 1.2rem;
  letter-spacing: 0.03125rem;
  line-height: 1.125rem;
  font-weight: 300;
}

.b-workflow-inputs-modal-select {
  position: relative;
}

.b-workflow-inputs-modal-text-input {
  position: relative;
}

.s-workflow-inputs-modal-is-required {
  position: absolute;
  top: 40%;
  left: -1rem;
  color: $red-30;
  z-index: 99;
}
