@import "~Styles/variables";

.button {
  background: $ui-01;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.125rem;
  border: 0.0625rem solid transparent;
  cursor: pointer;
  height: 1.5rem;

  &.designer {
    border-color: $interactive-01;
  }

  &.execution {
    border-color: $text-01;
  }

  svg {
    margin: 0.0625rem;
  }

  path {
    fill: black;
  }
}
