@import "~Styles/variables";

// these class names need to be updated to follow BEM

.ingestcsv-node {
  background: $blue;
  border-radius: 0.5rem;
  width: 16rem;
  height: 8rem;
  position: "relative";

  .ingestcsv-tile {
    font-size: $base;
    text-align: center;
    font-weight: 500;
    padding-top: 2.25rem;
    color: $off-white;
    letter-spacing: 0.1875rem;
  }

  .srd-custom-port {
    position: absolute;
    height: 100%;
    top: 0;

    &.--right {
      right: 0;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    &.--left {
      left: 0;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    &:hover {
      background: $lightest-gray;
    }
  }

  .bmrg-pencil {
    position: absolute;
    right: 4rem;
    top: 0.6875rem;
    cursor: pointer;
  }

  .bmrg-deleteNode {
    position: absolute;
    right: 1.5rem;
    top: 0.6875rem;
    max-width: 0.5rem;
    max-height: 0.5rem;
  }

  .ingestcsv-img {
    bottom: 1.7rem;
    position: absolute;
    left: 2.5rem;
  }
}
