@import "~Styles/variables.scss";

.b-StartEndNode {
  background: $blue;
  border-radius: 0.225rem;
  width: 9rem;
  height: 5rem;
  position: "relative";
  display: flex;
  justify-content: center;
  align-items: center;

  .b-StartEndNode__tile {
    font-size: $base;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.1625rem;
    color: $off-white;
  }

  .b-StartEndNode-port {
    position: absolute;
    background-color: white;
    border-radius: 50%;

    &.--right {
      right: -0.5rem;
    }
    &.--left {
      left: -0.5rem;
    }
    &:hover {
      background: $lightest-gray;
    }
  }
}
