@import "~Styles/variables";
@import "~@boomerang/boomerang-styles/lib/colors";

.b-startEnd-node {
  background: #697077;
  border-radius: 0.25rem;
  width: 9rem;
  height: 5rem;
  position: "relative";
  display: flex;
  justify-content: center;
  align-items: center;

  .b-startEnd-node__title {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.1625rem;
    color: $off-white;
  }

  .b-startEnd-node__port {
    position: absolute;
    height: 2.25rem;
    width: 2rem;

    &.--right {
      background-color: $teal-20;
      border: 0.125rem solid $teal-30;
      right: -2rem;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      background-image: url("../../assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &.--left {
      background-color: $teal-10;
      border: 0.125rem solid $teal-20;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      left: -2rem;
      background-image: url("../../assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &:hover {
      filter: brightness(115%);
    }
  }
}
