@import "~Styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10.3125rem);

  padding: 1.875rem 1.5rem 1.5rem;
  overflow: auto;
  width: 100%;
}

.tabs {
  margin-bottom: 1.125rem;
}

.filtersContainer {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.dataFilters {
  display: flex;
  > * + * {
    margin-left: 1.4rem;
  }
}

.dataFilter {
  width: 15.875rem;
}

.timeFilters {
  align-self: flex-end;
}
