//@import "../../../styles/variables";

.bmrg--b-navbar {
  //position: unset !important;
}
.bmrg--b-navbar-logo {
  cursor: pointer;
}

.c-app-main {
  padding-top: 3.125rem;
  height: 100vh;
}

.c-workflow {
  margin-top: 4rem;
}
