.c-app-main {
  padding-top: 6.5rem;
  height: 100vh;
  transition: padding-top 0.3s ease;
  position: relative;

  &.--banner-closed {
    padding-top: 3rem;
    .c-tasks-sidenav .bmrg--c-sidenav {
      height: calc(100vh - 8.75rem);
    }
  }
}

.c-workflow {
  margin-top: 4rem;
}
