.container {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.divider {
  background-color: var(--cds-hover-selected-ui);
  border: none;
  height: 0.0625rem;
  width: calc(100% + 2rem);
  margin: 1.5rem 0;
  margin-left: -1rem;

  &:first-of-type {
    margin-top: 0;
  }
}

.title {
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.125rem;
}

.description {
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 0.9375rem;
  margin-top: 0.25rem;
}

.sectionValue {
  display: block;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.5625rem;
  margin-bottom: 1rem;
  margin-top: 0.375rem;
}

.currentUsage {
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 0.9375rem;
  margin-bottom: 1.5rem;
}

.detailedText {
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 0.9375rem;
}
