@import "~Styles/mixins";

.CodeMirror {
  height: 36rem;
  font-size: 1rem;
}

.CodeMirror-sizer {
  font-size: 1rem;
}

.CodeMirror-hints {
  border: none;
  letter-spacing: 0.0625rem;
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  right: 0;
  width: 15rem;
  background-color: var(--cds-ui-01) fff;
  max-height: 8.75rem;
  overflow-y: auto;
  z-index: 9098;
  margin: 0;
  padding: 0;
  @include border-radius();
}

li.CodeMirror-hint-active {
  background-color: #e5e5e5;
  color: #242a2e;
  border-color: transparent;
}

.CodeMirror-hint {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.01rem;
  height: 2.5rem;
  color: #565656;
  cursor: pointer;
  user-select: none;
  position: relative;

  display: block;
  padding: 0.6875rem 0;
  margin: 0;
  text-indent: 1rem;
  border-top: 0.0625rem solid transparent;
  border-top-color: transparent;
  border-bottom: 0.0625rem solid transparent;
  border-top-color: #dcdcdc;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: border-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9), color 70ms cubic-bezier(0.2, 0, 0.38, 0.9);

  &:focus {
    @include focus-outline();
  }
}

.CodeMirror-hints.material {
  z-index: 1001;
}

.b-task-text-area {
  display: flex;
  margin-bottom: 0.5rem;
  .b-task-text-area__language-dropdown {
    min-width: 15rem;
    margin: 0.125rem;
    margin-left: auto;
    .bx--list-box__field {
      background-color: initial !important;
    }
  }

  &__button {
    padding: 0.6875rem 0.75rem 0.6875rem 0.75rem !important;
    margin: 0.125rem !important;
  }

  .bx--search {
    width: 20rem;
  }

  .bx--list-box__field {
    height: 2.625rem !important;
  }
}

.bmrg-c-text-area-modal-wrapper {
  cursor: pointer;
  width: 100%;
  .bx--text-area__wrapper {
    width: 100%;
  }
}
