.modalInputContainer {
  display: flex;
  flex-direction: column;
  :global .cds--bmrg-text-input {
    min-width: 23rem;
    max-width: 23rem;
  }
}

.text {
  margin-top: 0.75rem;
  color: var(--cds-text-primary);
  text-align: left;
  font-size: var(--cds-helper-text-01-font-size, 0.75rem);
  line-height: var(--cds-helper-text-01-line-height, 1.33333);
  letter-spacing: var(--cds-helper-text-01-letter-spacing, 0.32px);
  color: var(--cds-text-secondary, #4d5358);
  min-width: 23rem;
  max-width: 23rem;

  p {
    margin-bottom: 1rem;
  }
}