@import "~@boomerang/boomerang-styles/lib/colors";

.c-workflow-inputs {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
}

.b-workflow-input {
  position: relative;
  background-color: $white;
  min-height: 25rem;
  width: 20rem;
  padding: 1rem;
  margin: 0 2rem 2rem 0;
  border-left: 0.3125rem solid;
  border-radius: 0.25rem;

  &.--text {
    border-left-color: $green-30;
  }
  &.--textarea {
    border-left-color: $ultramarine-30;
  }
  &.--boolean {
    border-left-color: $red-30;
  }
  &.--password {
    border-left-color: $gray-30;
  }
  &.--number {
    border-left-color: $gold-30;
  }
  &.--select {
    border-left-color: $violet-30;
  }
  &.--true {
    opacity: 0.65;
  }
}

.b-workflow-input__name {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.b-workflow-input-field {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 1rem;
}

.b-workflow-input-field__key {
  font-weight: 600;
  line-height: 1.125rem;
  margin-bottom: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.b-workflow-input-field__value {
  font-weight: 400;
  text-align: left;
  line-height: 1.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.b-workflow-input__delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.b-workflow-input__delete-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.b-workflow-input-edit {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.b-workflow-input-edit__pencil {
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
}

.b-workflow-input-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
  height: calc(100% - 1.75rem);
  width: 20rem;
  border: 0.0625rem dashed $gray-30;
  color: $gray-30;
  cursor: pointer;
  border-radius: 0.25rem;
}

.b-workflow-input-create__plus {
  margin-bottom: 2rem;
}

.b-workflow-input-create__plus-icon {
  fill: $gray-30;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
