@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";

.cronMessage {
  bottom: 2.75rem;
  font-size: 0.69375rem; //0.875rem;
  font-weight: 400;
  line-height: 1.040625rem; //1rem;
  position: absolute;

  &.--error {
    color: var(--cds-support-01);
  }
}

.configureText {
  color: var(--cds-text-01);
  font-size: 1rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}

.timezone {
  position: relative;
}

.cronContainer {
  min-height: 8rem;
  max-height: 10rem;
  position: relative;
}

.timeContainer {
  align-items: flex-end;
  display: flex;
  :global .bx--list-box__field {
    width: 23rem;
  }
  :global .bx--bmrg-text-input {
    margin-right: 1rem;
  }
}
.advancedCronToggle {
  margin-bottom: 1rem;
  //width: 10.5rem;
  width: 12rem;
  :global .bx--label {
    font-size: 14px;
    line-height: 18px;
    color: #272727;
  }
}

.cronAdvancedContainer {
  display: flex;
  flex-direction: column;
}

.cronAdvancedLabel {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 1rem;
}

.daysContainer {
}
