@import "~Styles/variables";
@import "~@boomerang/boomerang-styles/lib/colors";

.c-navigation-bar {
  padding: 1rem 10rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  background-color: $lighter-gray;
}

.c-action-bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $lighter-gray;
  right: 0;
  top: 2.5rem;
  z-index: 1;

  .b-action-bar {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  .b-action-bar__zoom {
    margin-right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.4s ease;
    &:active {
      transform: scale(1.1);
    }

    img {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .bmrg--b-button {
    min-width: 12rem;
    margin: 0 1rem;
  }
}
