.bmrg--c-flowRedirect-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 39.3125rem;
  height: 24.125rem;
  border-radius: 0.25rem;
  background-color: #fff;
}
.bmrg--c-flowRedirect-content__img {
  width: 100%;
  height: 10rem;
}
.bmrg--b-flowRedirect-content__header {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.125rem;
  line-height: 2.625rem;
  text-align: center;
  margin: 0.75rem;
}
.bmrg--b-flowRedirect-content__text {
  width: 26.6875rem;
  height: 3.125rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5625rem;
  text-align: center;
}
.bmrg--b-flowRedirect-content__text--small {
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  line-height: 0.875rem;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}
.bmrg--b-flowRedirect-content__button {
  border: none;
  height: 2.6875rem;
  width: 10.5rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  background-color: rgb(64, 213, 187);
  font-weight: 300 !important;
  margin-bottom: 1.5rem;
  font-family: "IBM Plex Sans" !important;
  cursor: pointer;

  &:active {
    transform: scale(0.95, 0.95);
    transition: transform 0.1s ease-in-out;
  }

  &:focus {
    outline: none;
  }
}
