@import "~Styles/variables";
@import "~Styles/mixins";
@import "~@boomerang/boomerang-styles/lib/colors";

// these class names need to be updated to follow BEM

.b-switchNode {
  border: 1px solid $interactive-01;
  background: white;
  width: 13.75rem;
  height: 5rem;
  padding: 1rem;
  position: relative;

  .b-switchNode__title {
    height: 1.125rem;
    margin: 0;
    color: $text-01;
    font-size: 0.75rem;
    line-height: 1.125rem;
    width: 90%;
    @include text-overflow-ellipsis();
  }

  .b-switchNode__img {
    bottom: 1rem;
    left: 1.5rem;
    pointer-events: none;
  }

  .b-switchNode__subtitle {
    height: 1.125rem;
    color: $text-01;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-left: 2.5rem;
    width: 90%;
    @include text-overflow-ellipsis();
  }

  .b-switchNode-port {
    position: absolute;
    height: 2.25rem;
    width: 2rem;

    &.--right {
      background-color: $interactive-01;
      border: 0.0625rem solid $interactive-01;
      right: -2rem;
      top: 1.25rem;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      background-image: url("../../assets/icons/chevron_white.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &.--left {
      background-color: #b3e6ff;
      border: 0.0625rem solid $interactive-01;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      left: -2rem;
      top: 1.25rem;
      background-image: url("../../assets/icons/chevron.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &:hover {
      filter: brightness(110%);
    }
  }
}
