@import "~Styles/mixins";

.node {
  height: 8.75rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  width: 9.5rem;

  svg {
    circle {
      stroke: var(--flow-switch-primary);
    }
  }

  :global .port {
    top: 3.5rem !important;
  }
}

.subtitle {
  display: block;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  text-overflow: initial;
  white-space: normal;
}

.subtitle:before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--cds-ui-01) 80%);
  bottom: 0;
  content: "\200C";
  display: block;
  height: 0.9375rem;
  position: absolute;
  right: 0;
  text-align: center;
  width: 30%;
}

.badgeContainer {
  background-color: var(--cds-ui-01);
  border: 1px solid var(--cds-text-02);
  border-radius: 0.25rem;
  left: -1.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  position: absolute;
  top: -0.75rem;
}

.badgeText {
  color: var(--cds-text-01);
  font-size: 0.625rem;
  line-height: 0.8125rem;
}

.failure {
  border: 0.1875rem solid var(--flow-failure);
  border-color: var(--flow-failure) !important;
}

.completed {
  border: 0.1875rem solid var(--cds-support-02);
  border-color: var(--cds-support-02) !important;
}

.notstarted,
.invalid,
.skipped {
  border: none;
}

.disabled {
  opacity: 0.5;
}

.progressBar {
  display: none;
}

.inProgress {
  border: none;

  .progressBar {
    position: absolute;
    display: block;
    height: 0.1875rem;
    top: -0.1875rem;
    left: -0.09rem;
    transition: width 0.3s linear;
    width: 9.5rem;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      background-color: var(--cds-interactive-01);
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: var(--cds-interactive-01);
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
    }
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
