@import "~Styles/variables";
@import "~Styles/mixins";
@import "~@boomerang/boomerang-styles/lib/colors";

.node {
  background: #002b50;
  border-color: #002b50;
  color: white;
  * {
    color: white;
    fill: white;
  }
}

.editButton {
  position: absolute;
  right: 1.75rem;
  top: -0.75rem;
  width: 1.5rem;
}

.deleteButton {
  position: absolute;
  right: -0.75rem;
  top: -0.75rem;
  width: 1.5rem;
}

.failure {
  border: 0.1875rem solid #a51920;
  border-color: #a51920 !important;
}

.completed {
  border: 0.1875rem solid #009d9a;
  border-color: #009d9a !important;
}

.notstarted,
.invalid,
.skipped {
  border: none;
}
