.modalBodyContainer {
  padding-top: 0rem;
}

.detailedTitle {
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 0.9375rem;
  margin-bottom: 0.5rem;
}

.detailedData {
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  line-height: 1.125rem;
  margin-bottom: 1.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 20rem;

  :global .cds--number__control-btn {
    border-bottom: none;
  }
}

.inputUnits {
  font-family: "IBM Plex Mono";
  font-size: 1rem;
  letter-spacing: 0.01rem;
  line-height: 1.25;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}
