.modalBodyContainer {
  padding-top: 0rem;
}

.detailedTitle {
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 0.9375rem;
  margin-bottom: 0.5rem;
}

.detailedData {
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  line-height: 1.125rem;
  margin-bottom: 1.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  :global .bx--form-item {
    width: 7.5rem;
    flex: 0;
  }

  input {
    background-color: var(--cds-ui-02) !important;
    min-width: 0 !important;
    width: 7.5rem !important;
  }
}

.inputUnits {
  font-family: "IBM Plex Mono";
  font-size: 1rem;
  letter-spacing: 0.01rem;
  line-height: 1.25rem;
  margin-left: 0.5rem;
}
