@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";
@import "~Styles/mixins";

.container {
  align-items: flex-start;
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  min-width: 15.625rem;
  padding: 1.25rem;
  @include border-radius();
}
// .executions{

// }
.title {
  font-size: 0.875rem;
  font-weight: 300;
}
.totalCountContainer {
  align-items: flex-end;
  display: flex;
}
.totalCount {
  color: $gray-70;
  font-size: 3.75rem;
  font-weight: 600;
  margin-right: 0.5rem;
}
.type {
  color: $gray-70;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.list {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
.itemLabel {
  color: $gray-50;
  font-size: 0.75rem;
}
.itemValue {
  font-size: 0.875rem;
  margin-right: 0.75rem;
}
